<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>w2_videoStory/w2_sc01/eolosc010005.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,331},{276,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,319}</string>
			</dict>
			<key>w2_videoStory/w2_sc01/eolosc010006.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,611},{276,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,319}</string>
			</dict>
			<key>w2_videoStory/w2_sc01/nuvola_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,331},{671,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{671,294}</string>
			</dict>
			<key>w2_videoStory/w2_sc01/nuvola_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{749,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{749,325}</string>
			</dict>
			<key>w2_videoStory/w2_sc01/sc01_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,331},{640,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,360}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>w2_sc01_ss01.png</string>
			<key>realTextureFileName</key>
			<string>w2_sc01_ss01.png</string>
			<key>size</key>
			<string>{985,1004}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>985</integer>
			<key>height</key>
			<integer>1004</integer>
		</dict>
	</dict>
</plist>