<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>w4_videoStory/w4_sc02/bg_pp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,435},{619,346}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{619,346}</string>
			</dict>
			<key>w4_videoStory/w4_sc02/bg_middle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{833,429}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{833,429}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>w4_sc02_ss02.png</string>
			<key>realTextureFileName</key>
			<string>w4_sc02_ss02.png</string>
			<key>size</key>
			<string>{837,783}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>837</integer>
			<key>height</key>
			<integer>783</integer>
		</dict>
	</dict>
</plist>