<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>w2_videoStory/w2_sc02/bg_sc02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{938,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{938,359}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/canneto.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,365},{353,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,205}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/fx_soffio_passo2_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,722},{306,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,156}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/fx_soffio_passo2_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,365},{306,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,156}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/fx_soffio_passo2_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,675},{306,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,156}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,926},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,835},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,835},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,835},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,835},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,365},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,365},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,365},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,365},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,365},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,418},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,418},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,365},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,463},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,471},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/nota_eolo0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,471},{49,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,94}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/onda.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,2},{920,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{920,62}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/pan_body_sc02.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,524},{57,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,75}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/pan_upperbody_sc02.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,524},{63,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,47}</string>
			</dict>
			<key>w2_videoStory/w2_sc02/onda_rossa.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,926},{920,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{920,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>w2_sc02_ss01.png</string>
			<key>realTextureFileName</key>
			<string>w2_sc02_ss01.png</string>
			<key>size</key>
			<string>{1008,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1008</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>