<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>fox_end_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 313.000000}, {85.000000, 110.000000}}</string>
			<key>offset</key>
			<string>{15.500000, 7.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67.000000, 2.000000}, {85.000000, 110.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>448354E4-F677-48C2-A7D3-A4D4A29CDA96</string>
		</dict>
		<key>fox_end_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{307.000000, 407.000000}, {82.000000, 111.000000}}</string>
			<key>offset</key>
			<string>{16.000000, 7.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16.000000, 69.000000}, {111.000000, 82.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>15D13E51-33F9-43DB-8BA8-AC04B1581E1C</string>
		</dict>
		<key>fox_end_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{359.000000, 316.000000}, {83.000000, 111.000000}}</string>
			<key>offset</key>
			<string>{15.500000, 7.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16.000000, 68.000000}, {111.000000, 83.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>7C53B4DD-16E9-49BB-8322-BBC963693F91</string>
		</dict>
		<key>fox_end_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{239.000000, 291.000000}, {83.000000, 112.000000}}</string>
			<key>offset</key>
			<string>{15.500000, 8.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16.000000, 68.000000}, {112.000000, 83.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>FB211520-2C6F-42CF-B1B4-3DB7C1130498</string>
		</dict>
		<key>fox_end_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{216.000000, 382.000000}, {83.000000, 110.000000}}</string>
			<key>offset</key>
			<string>{15.500000, 7.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68.000000, 2.000000}, {83.000000, 110.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>07B9C273-374F-4226-91BA-8F2E18ABE549</string>
		</dict>
		<key>fox_end_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{121.000000, 238.000000}, {85.000000, 110.000000}}</string>
			<key>offset</key>
			<string>{15.500000, 7.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16.000000, 67.000000}, {110.000000, 85.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>9C1ED44B-B433-49A1-BB6A-47AF68FF391D</string>
		</dict>
		<key>fox_end_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{401.000000, 198.000000}, {85.000000, 110.000000}}</string>
			<key>offset</key>
			<string>{15.500000, 7.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67.000000, 2.000000}, {85.000000, 110.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>F719813C-2186-4C8E-B716-45E88953AFFD</string>
		</dict>
		<key>fox_end_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{97.000000, 331.000000}, {83.000000, 111.000000}}</string>
			<key>offset</key>
			<string>{16.500000, 7.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16.000000, 69.000000}, {111.000000, 83.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>0CE77687-6234-4066-A407-1528E8DE3D51</string>
		</dict>
		<key>fox_idle_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{296.000000, 101.000000}, {145.000000, 89.000000}}</string>
			<key>offset</key>
			<string>{-3.500000, 0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.000000, 19.000000}, {145.000000, 89.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>A094F2C3-DB47-4DF9-9B7E-1A0221DEABB2</string>
		</dict>
		<key>fox_idle_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{296.000000, 4.000000}, {145.000000, 89.000000}}</string>
			<key>offset</key>
			<string>{-3.500000, 0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.000000, 19.000000}, {145.000000, 89.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>E58D7A85-A332-49E2-A1B7-9A3A4AFF2B8D</string>
		</dict>
		<key>fox_idle_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 104.000000}, {145.000000, 89.000000}}</string>
			<key>offset</key>
			<string>{-3.500000, 0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.000000, 19.000000}, {145.000000, 89.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>D047CEC8-6B48-49CD-B9D4-2E090814B88D</string>
		</dict>
		<key>fox_idle_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 4.000000}, {153.000000, 92.000000}}</string>
			<key>offset</key>
			<string>{-7.500000, 2.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10.000000, 16.000000}, {153.000000, 92.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>C6AC9A70-FD42-486C-8735-1EB16221E7F3</string>
		</dict>
		<key>fox_start_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{165.000000, 4.000000}, {123.000000, 109.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -4.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31.000000, 14.000000}, {123.000000, 109.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>BE1A25AD-14EA-4E6D-98E1-20CB8EDBE263</string>
		</dict>
		<key>fox_start_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{157.000000, 121.000000}, {109.000000, 118.000000}}</string>
			<key>offset</key>
			<string>{4.500000, -3.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 44.000000}, {118.000000, 109.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>D9D3D537-FD1A-49FB-BDDC-888A0D3D3048</string>
		</dict>
		<key>fox_start_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 201.000000}, {109.000000, 104.000000}}</string>
			<key>offset</key>
			<string>{6.500000, -9.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46.000000, 21.000000}, {109.000000, 104.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>5C90226E-35C3-4F0F-8DC8-34DF0C4CA2C7</string>
		</dict>
		<key>fox_start_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{283.000000, 198.000000}, {85.000000, 110.000000}}</string>
			<key>offset</key>
			<string>{15.500000, 7.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16.000000, 67.000000}, {110.000000, 85.000000}}</string>
			<key>sourceSize</key>
			<string>{188.000000, 128.000000}</string>
			<key>uuid</key>
			<string>20E5DBF3-9776-42ED-90EF-BE448BD54C0E</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>2</integer>
		<key>size</key>
		<string>{490.000000, 496.000000}</string>
		<key>textureFileName</key>
		<string>SittingFox_spritesheet.png</string>
	</dict>
</dict>
</plist>
