<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>chiomaBonus</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1178.000000, 0.000000}, {1310.000000, 722.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -6.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9.000000, 0.000000}, {722.000000, 1310.000000}}</string>
			<key>sourceSize</key>
			<string>{1310.000000, 752.000000}</string>
			<key>uuid</key>
			<string>AA717233-6B28-4414-9B75-02BF3FC824CB</string>
		</dict>
		<key>mondo1_chiome0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 0.000000}, {1178.000000, 1021.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {1178.000000, 1021.000000}}</string>
			<key>sourceSize</key>
			<string>{1180.000000, 1021.000000}</string>
			<key>uuid</key>
			<string>748926AA-3755-43DC-B1AC-BD8BA5F8E03D</string>
		</dict>
		<key>mondo1_chiome0004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 1021.000000}, {917.000000, 552.000000}}</string>
			<key>offset</key>
			<string>{11.500000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23.000000, 1.000000}, {917.000000, 552.000000}}</string>
			<key>sourceSize</key>
			<string>{940.000000, 553.000000}</string>
			<key>uuid</key>
			<string>42F190BF-CD2B-425F-90DA-04E4B6D068FA</string>
		</dict>
		<key>mondo1_chiome0005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{917.000000, 1310.000000}, {709.000000, 642.000000}}</string>
			<key>offset</key>
			<string>{0.500000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {642.000000, 709.000000}}</string>
			<key>sourceSize</key>
			<string>{710.000000, 642.000000}</string>
			<key>uuid</key>
			<string>0FAABE28-C819-48E6-9474-D019045C2BA4</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1900.000000, 2019.000000}</string>
		<key>textureFileName</key>
		<string>w1_alberi1.png</string>
	</dict>
</dict>
</plist>
