<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>mondo3_alberi_001_01</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1764.000000, 1119.000000}, {102.000000, 506.000000}}</string>
			<key>offset</key>
			<string>{-13.000000, -23.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 47.000000}, {102.000000, 506.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 553.000000}</string>
			<key>uuid</key>
			<string>4A7286F1-367E-46C0-99D6-34909D20B7AF</string>
		</dict>
		<key>mondo3_alberi_001_02</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1772.000000, 4.000000}, {156.000000, 520.000000}}</string>
			<key>offset</key>
			<string>{-8.500000, -16.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14.000000, 33.000000}, {156.000000, 520.000000}}</string>
			<key>sourceSize</key>
			<string>{201.000000, 553.000000}</string>
			<key>uuid</key>
			<string>FE4754C2-B97C-4A38-A58E-C30B684D9BF0</string>
		</dict>
		<key>mondo3_alberi_001_03</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1662.000000, 565.000000}, {94.000000, 548.000000}}</string>
			<key>offset</key>
			<string>{4.500000, -2.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.000000, 5.000000}, {94.000000, 548.000000}}</string>
			<key>sourceSize</key>
			<string>{121.000000, 553.000000}</string>
			<key>uuid</key>
			<string>7B73867E-F87A-4EDF-ADF3-FDF1189A04E1</string>
		</dict>
		<key>mondo3_alberi_001_04</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1537.000000, 565.000000}, {117.000000, 493.000000}}</string>
			<key>offset</key>
			<string>{-14.000000, -30.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8.000000, 60.000000}, {117.000000, 493.000000}}</string>
			<key>sourceSize</key>
			<string>{161.000000, 553.000000}</string>
			<key>uuid</key>
			<string>34A6885E-75D2-43B1-8198-E1071C34E24C</string>
		</dict>
		<key>mondo3_alberi_001_05</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1537.000000, 4.000000}, {227.000000, 553.000000}}</string>
			<key>offset</key>
			<string>{2.500000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 0.000000}, {227.000000, 553.000000}}</string>
			<key>sourceSize</key>
			<string>{232.000000, 553.000000}</string>
			<key>uuid</key>
			<string>991E1989-6E09-4FA9-8EF8-9370F3894855</string>
		</dict>
		<key>mondo3_alberi_003_01</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1772.000000, 532.000000}, {123.000000, 579.000000}}</string>
			<key>offset</key>
			<string>{-4.500000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {123.000000, 579.000000}}</string>
			<key>sourceSize</key>
			<string>{132.000000, 580.000000}</string>
			<key>uuid</key>
			<string>AA763EC8-C1B3-41BD-AC6E-F17694635F24</string>
		</dict>
		<key>mondo3_alberi_003_02</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1903.000000, 532.000000}, {63.000000, 580.000000}}</string>
			<key>offset</key>
			<string>{3.500000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27.000000, 0.000000}, {63.000000, 580.000000}}</string>
			<key>sourceSize</key>
			<string>{110.000000, 580.000000}</string>
			<key>uuid</key>
			<string>BDEB4340-17D3-4C9B-8DC4-27F1B81720D3</string>
		</dict>
		<key>mondo3_alberi_003_05</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1874.000000, 1120.000000}, {66.000000, 409.000000}}</string>
			<key>offset</key>
			<string>{-15.500000, -85.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22.000000, 171.000000}, {66.000000, 409.000000}}</string>
			<key>sourceSize</key>
			<string>{141.000000, 580.000000}</string>
			<key>uuid</key>
			<string>3D1B6F30-BEA2-46EE-B764-6BFFEDDF5F74</string>
		</dict>
		<key>mondo3_alberi_004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 4.000000}, {1525.000000, 993.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {1525.000000, 993.000000}}</string>
			<key>sourceSize</key>
			<string>{1525.000000, 993.000000}</string>
			<key>uuid</key>
			<string>499724F7-EEDC-40B4-91FB-2707AC71BD63</string>
		</dict>
		<key>mondo3_alberi_005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 1005.000000}, {862.000000, 921.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {862.000000, 921.000000}}</string>
			<key>sourceSize</key>
			<string>{862.000000, 921.000000}</string>
			<key>uuid</key>
			<string>0B97476D-8993-41E4-82AC-7D28B8058AF5</string>
		</dict>
		<key>mondo3_alberi_006</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{874.000000, 1005.000000}, {816.000000, 609.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {609.000000, 816.000000}}</string>
			<key>sourceSize</key>
			<string>{816.000000, 609.000000}</string>
			<key>uuid</key>
			<string>C9C055F0-999B-4E12-A4C1-961B0DCAEC5C</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1970.000000, 1930.000000}</string>
		<key>textureFileName</key>
		<string>w3_alberiTronchi.png</string>
	</dict>
</dict>
</plist>
