<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>mondo3_rovina_001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1377.000000, 4.000000}, {278.000000, 920.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {278.000000, 920.000000}}</string>
			<key>sourceSize</key>
			<string>{278.000000, 920.000000}</string>
			<key>uuid</key>
			<string>45F06AB1-16F6-4590-95E5-AD6150B517CB</string>
		</dict>
		<key>mondo3_rovina_002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 952.000000}, {488.000000, 920.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {920.000000, 488.000000}}</string>
			<key>sourceSize</key>
			<string>{488.000000, 920.000000}</string>
			<key>uuid</key>
			<string>CEB4DFB4-D666-4446-9962-0E9F9445568B</string>
		</dict>
		<key>mondo3_rovina_003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 1448.000000}, {310.000000, 920.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {920.000000, 310.000000}}</string>
			<key>sourceSize</key>
			<string>{310.000000, 920.000000}</string>
			<key>uuid</key>
			<string>A4EDBD12-B74D-4BB7-9C33-E37854E147B2</string>
		</dict>
		<key>mondo3_rovina_004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{969.000000, 4.000000}, {513.000000, 400.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {400.000000, 513.000000}}</string>
			<key>sourceSize</key>
			<string>{513.000000, 400.000000}</string>
			<key>uuid</key>
			<string>1F92B25D-B444-460E-B656-2B62FA8784F2</string>
		</dict>
		<key>mondo3_rovina_005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{932.000000, 1418.000000}, {264.000000, 400.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {400.000000, 264.000000}}</string>
			<key>sourceSize</key>
			<string>{264.000000, 400.000000}</string>
			<key>uuid</key>
			<string>A2463B69-7E6A-4A9C-8EFA-3276F8BDC4F7</string>
		</dict>
		<key>mondo3_rovina_006</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{932.000000, 905.000000}, {505.000000, 400.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -3.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {400.000000, 505.000000}}</string>
			<key>sourceSize</key>
			<string>{505.000000, 407.000000}</string>
			<key>uuid</key>
			<string>39CAD418-1FA2-4D6A-8709-557951876238</string>
		</dict>
		<key>mondo3_rovina_007</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{4.000000, 4.000000}, {484.000000, 940.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {484.000000, 940.000000}}</string>
			<key>sourceSize</key>
			<string>{484.000000, 940.000000}</string>
			<key>uuid</key>
			<string>AD17697B-DDA0-481A-A653-E753EB604E3B</string>
		</dict>
		<key>mondo3_rovina_008</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{902.000000, 699.000000}, {198.000000, 273.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {273.000000, 198.000000}}</string>
			<key>sourceSize</key>
			<string>{198.000000, 273.000000}</string>
			<key>uuid</key>
			<string>07CF487B-A2A1-4E5B-8502-3F676AF8C15C</string>
		</dict>
		<key>mondo3_rovina_009</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{496.000000, 4.000000}, {687.000000, 465.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {465.000000, 687.000000}}</string>
			<key>sourceSize</key>
			<string>{687.000000, 465.000000}</string>
			<key>uuid</key>
			<string>6E89BD79-A9F2-4E23-B6F7-680F30CE8DA2</string>
		</dict>
		<key>mondo3_rovina_010</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{496.000000, 699.000000}, {213.000000, 398.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {398.000000, 213.000000}}</string>
			<key>sourceSize</key>
			<string>{213.000000, 398.000000}</string>
			<key>uuid</key>
			<string>C1F46BDD-9E7C-4B85-82E5-5DCB940E291C</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1659.000000, 1762.000000}</string>
		<key>textureFileName</key>
		<string>w3_rovine1.png</string>
	</dict>
</dict>
</plist>
