<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>mondo3_0004s_0000_cielo</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1475.000000, 0.000000}, {128.000000, 2048.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {128.000000, 2048.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 2048.000000}</string>
			<key>uuid</key>
			<string>37116DEF-4302-46A8-AD3B-1F24CB7F5AC4</string>
		</dict>
		<key>mondo3_nuvola_001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 0.000000}, {2022.000000, 574.000000}}</string>
			<key>offset</key>
			<string>{-13.000000, -8.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 0.000000}, {574.000000, 2022.000000}}</string>
			<key>sourceSize</key>
			<string>{2048.000000, 595.000000}</string>
			<key>uuid</key>
			<string>B31531AF-275C-4F09-8ECB-03C37CA28141</string>
		</dict>
		<key>mondo3_nuvola_003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{574.000000, 0.000000}, {2000.000000, 489.000000}}</string>
			<key>offset</key>
			<string>{-16.000000, 5.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13.000000, 8.000000}, {489.000000, 2000.000000}}</string>
			<key>sourceSize</key>
			<string>{2048.000000, 504.000000}</string>
			<key>uuid</key>
			<string>89EB28E8-5AAC-4E8A-8EA5-0245F0A2EE4E</string>
		</dict>
		<key>mondo3_nuvola_004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1063.000000, 0.000000}, {1688.000000, 412.000000}}</string>
			<key>offset</key>
			<string>{10.500000, 8.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19.000000, 21.000000}, {412.000000, 1688.000000}}</string>
			<key>sourceSize</key>
			<string>{1709.000000, 433.000000}</string>
			<key>uuid</key>
			<string>1E3DF49C-71BC-4F23-A196-147382D13E38</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1603.000000, 2048.000000}</string>
		<key>textureFileName</key>
		<string>w3_sky1.png</string>
	</dict>
</dict>
</plist>
