<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>mondo4_nuvole_0000</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1602.000000, 0.000000}, {2021.000000, 344.000000}}</string>
			<key>offset</key>
			<string>{-3.500000, 21.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43.000000, 10.000000}, {344.000000, 2021.000000}}</string>
			<key>sourceSize</key>
			<string>{2048.000000, 388.000000}</string>
			<key>uuid</key>
			<string>B5D9349D-8198-4816-8D01-D8E22C7380B6</string>
		</dict>
		<key>mondo4_nuvole_0001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 0.000000}, {1602.000000, 667.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 27.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 11.000000}, {1602.000000, 667.000000}}</string>
			<key>sourceSize</key>
			<string>{1615.000000, 744.000000}</string>
			<key>uuid</key>
			<string>B1180129-AF5A-41C5-B69A-208468052B74</string>
		</dict>
		<key>mondo4_nuvole_0002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 667.000000}, {1263.000000, 573.000000}}</string>
			<key>offset</key>
			<string>{4.500000, 12.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31.000000, 15.000000}, {573.000000, 1263.000000}}</string>
			<key>sourceSize</key>
			<string>{1284.000000, 611.000000}</string>
			<key>uuid</key>
			<string>0664A85B-44B8-48E1-8F54-93889192EB1B</string>
		</dict>
		<key>mondo4_nuvole_0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{573.000000, 667.000000}, {793.000000, 730.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -6.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 12.000000}, {793.000000, 730.000000}}</string>
			<key>sourceSize</key>
			<string>{800.000000, 742.000000}</string>
			<key>uuid</key>
			<string>CAEC275A-0E37-4D77-8D66-074F2E89FAA0</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1946.000000, 2021.000000}</string>
		<key>textureFileName</key>
		<string>w4_cielo.png</string>
	</dict>
</dict>
</plist>
