<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>mondo5__0003s_0000_3x2_02.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{618.000000, 281.000000}, {91.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {91.000000, 91.000000}}</string>
			<key>sourceSize</key>
			<string>{97.000000, 92.000000}</string>
			<key>uuid</key>
			<string>EFF1034B-CB86-4E3D-B4BF-ED4C2D2DFD1E</string>
		</dict>
		<key>mondo5__0003s_0000_3x2_05.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{618.000000, 1.000000}, {159.000000, 84.000000}}</string>
			<key>offset</key>
			<string>{2.500000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 18.000000}, {84.000000, 159.000000}}</string>
			<key>sourceSize</key>
			<string>{190.000000, 84.000000}</string>
			<key>uuid</key>
			<string>3EF0996D-3249-4573-BA83-7BC6610ECE9D</string>
		</dict>
		<key>mondo5__0003s_0000_3x2_08.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{274.000000, 248.000000}, {104.000000, 186.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -3.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 12.000000}, {104.000000, 186.000000}}</string>
			<key>sourceSize</key>
			<string>{104.000000, 203.000000}</string>
			<key>uuid</key>
			<string>4C33BDDE-CE89-4B07-9FC1-D68EE934D1BE</string>
		</dict>
		<key>mondo5__0003s_0000_3x2_10.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{380.000000, 405.000000}, {195.000000, 169.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {169.000000, 195.000000}}</string>
			<key>sourceSize</key>
			<string>{198.000000, 169.000000}</string>
			<key>uuid</key>
			<string>525FD41B-2139-4AF4-8653-3B0CC6A70310</string>
		</dict>
		<key>mondo5__0003s_0000_3x2_12.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{618.000000, 162.000000}, {85.000000, 117.000000}}</string>
			<key>offset</key>
			<string>{-6.500000, -1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 10.000000}, {85.000000, 117.000000}}</string>
			<key>sourceSize</key>
			<string>{98.000000, 134.000000}</string>
			<key>uuid</key>
			<string>C7BA8A30-1804-439D-8CBE-157497037519</string>
		</dict>
		<key>mondo5__0003s_0001_3x2_2.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 1.000000}, {391.000000, 245.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {391.000000, 245.000000}}</string>
			<key>sourceSize</key>
			<string>{391.000000, 245.000000}</string>
			<key>uuid</key>
			<string>936D1119-019D-4E4F-B607-4256E9675F02</string>
		</dict>
		<key>mondo5__0003s_0002_3x2_3.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{394.000000, 1.000000}, {402.000000, 222.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {222.000000, 402.000000}}</string>
			<key>sourceSize</key>
			<string>{402.000000, 222.000000}</string>
			<key>uuid</key>
			<string>AB7440BC-507A-46BA-AC37-80A79473392F</string>
		</dict>
		<key>mondo5_edera.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 442.000000}, {170.000000, 165.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {165.000000, 170.000000}}</string>
			<key>sourceSize</key>
			<string>{170.000000, 165.000000}</string>
			<key>uuid</key>
			<string>DBEF51DC-0FE6-4AD2-ADB1-05515BDE1EB6</string>
		</dict>
		<key>mondo5_edera2.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 248.000000}, {271.000000, 192.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {271.000000, 192.000000}}</string>
			<key>sourceSize</key>
			<string>{271.000000, 192.000000}</string>
			<key>uuid</key>
			<string>DADF6FDD-9DD0-414B-8937-4C3F300F5BA0</string>
		</dict>
		<key>mondo5_edera3.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{551.000000, 405.000000}, {191.000000, 161.000000}}</string>
			<key>offset</key>
			<string>{5.000000, -8.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 18.000000}, {161.000000, 191.000000}}</string>
			<key>sourceSize</key>
			<string>{217.000000, 188.000000}</string>
			<key>uuid</key>
			<string>DDD9F37A-071D-43C4-ACE7-6B9D34D9C47F</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>2</integer>
		<key>size</key>
		<string>{713.000000, 613.000000}</string>
		<key>textureFileName</key>
		<string>w5_edera.png</string>
	</dict>
</dict>
</plist>
