<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>w3_videoStory/w3_sc02/bgppsc02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{716,445}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{716,445}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/lagrima.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,147},{8,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,17}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020001.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,2},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020002.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,147},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020003.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,153},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020004.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,274},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020005.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,304},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020006.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,401},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020007.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,431},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,451},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020009.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,451},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panbody_sc020010.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,451},{147,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,123}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,451},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,451},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,451},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,528},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,528},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,558},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,533},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,578},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,533},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,533},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,610},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,622},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,640},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,602},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,602},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,615},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,660},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,684},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,684},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,615},{78,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,90}</string>
			</dict>
			<key>w3_videoStory/w3_sc02/panhead_pose2.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,2},{141,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,171}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>w3_sc02_ss01.png</string>
			<key>realTextureFileName</key>
			<string>w3_sc02_ss01.png</string>
			<key>size</key>
			<string>{1022,764}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>764</integer>
		</dict>
	</dict>
</plist>