<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>B8984A04-8E8E-4E9E-B24F-16797C299755</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 1.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.033333, 0.050000}</string>
					<key>imageFileName</key>
					<string>Pan_spritesheet2.png</string>
					<key>name</key>
					<string>Capanna.png</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>D855D814-D937-474B-BE33-60E3511E72DE</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{248.000000, 220.000000}</string>
					<key>spriteName</key>
					<string>Capanna.png</string>
					<key>spriteUUID</key>
					<string>7A5438D2-F01D-4522-94B2-B110685D80D9</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>D4CF8D8B-4B95-4977-BE39-4564709CF6B2</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 1.000000}</string>
					<key>animations</key>
					<array>
						<dict>
							<key>active</key>
							<false/>
							<key>fps</key>
							<integer>12</integer>
							<key>name</key>
							<string>burnIntro</string>
							<key>properties</key>
							<dict>
								<key>Sprite Frame</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0001</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>1</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0002</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>2</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0003</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>3</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0004</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>4</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0005</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>5</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0006</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>6</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0007</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>7</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0008</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>8</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0009</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>9</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_intro_0010</string>
										</dict>
									</array>
									<key>type</key>
									<string>LHSpriteFrameProperty</string>
								</dict>
							</dict>
							<key>repetitions</key>
							<integer>1</integer>
							<key>totalFrames</key>
							<integer>10</integer>
						</dict>
					</array>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {0.999318, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.014583, 0.051562}</string>
					<key>imageFileName</key>
					<string>GoalBurnIntro_spritesheet.png</string>
					<key>name</key>
					<string>CapannaBruciaIntro</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>D855D814-D937-474B-BE33-60E3511E72DE</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{285.000000, 317.000000}</string>
					<key>spriteName</key>
					<string>capannaBrucia_intro_0001</string>
					<key>spriteUUID</key>
					<string>72CF143E-A4A1-45FD-BD7F-8D2339B9BA45</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>318D0E46-3B12-4377-9811-0D987427C289</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 1.000000}</string>
					<key>animations</key>
					<array>
						<dict>
							<key>active</key>
							<false/>
							<key>fps</key>
							<integer>12</integer>
							<key>name</key>
							<string>burnLoop</string>
							<key>properties</key>
							<dict>
								<key>Sprite Frame</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_loop_0001</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>1</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_loop_0002</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>2</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_loop_0003</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>3</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_loop_0004</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>4</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_loop_0005</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>5</integer>
											<key>spriteSheetName</key>
											<string>capannaBrucia_loop_0006</string>
										</dict>
									</array>
									<key>type</key>
									<string>LHSpriteFrameProperty</string>
								</dict>
							</dict>
							<key>repetitions</key>
							<integer>0</integer>
							<key>totalFrames</key>
							<integer>6</integer>
						</dict>
					</array>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.014583, 0.051562}</string>
					<key>imageFileName</key>
					<string>GoalBurnLoop_spritesheet.png</string>
					<key>name</key>
					<string>CapannaBruciaLoop</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>D855D814-D937-474B-BE33-60E3511E72DE</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{285.000000, 317.000000}</string>
					<key>spriteName</key>
					<string>capannaBrucia_loop_0001</string>
					<key>spriteUUID</key>
					<string>592BA001-94BA-4566-8334-4AD53A7B4935</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>A008E359-72C4-4053-8516-12F995C6F0B8</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{-0.050000, 0.050000}</string>
			<key>name</key>
			<string>CapannaNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>D484CB2E-87D3-4A89-B9DE-29D940F5ADE8</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{96.000000, 64.000000}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>GOAL</string>
			</array>
			<key>uuid</key>
			<string>D855D814-D937-474B-BE33-60E3511E72DE</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>2B7DC3ED-E1CD-4DCF-9992-55A8438ADB2E</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{192.000000, 128.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>D484CB2E-87D3-4A89-B9DE-29D940F5ADE8</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
