<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>A45EE5DB-6C37-4379-B0E8-DB7AD6F19561</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>animations</key>
					<array>
						<dict>
							<key>active</key>
							<false/>
							<key>fps</key>
							<integer>12</integer>
							<key>name</key>
							<string>start</string>
							<key>properties</key>
							<dict>
								<key>Sprite Frame</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0011.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>1</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0010.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>2</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0009.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>3</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0008.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>4</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0007.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>5</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0006.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>6</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0005.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>7</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0004.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>8</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0003.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>9</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0002.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>10</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0001.png</string>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>11</integer>
											<key>spriteSheetName</key>
											<string>monouso_w2_01_0000.png</string>
										</dict>
									</array>
									<key>type</key>
									<string>LHSpriteFrameProperty</string>
								</dict>
							</dict>
							<key>repetitions</key>
							<integer>1</integer>
							<key>totalFrames</key>
							<integer>12</integer>
						</dict>
					</array>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.003125, -0.025000}</string>
					<key>imageFileName</key>
					<string>Monouso2_spritesheet.png</string>
					<key>name</key>
					<string>FaithJumpSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>EA97D5C0-35A4-46E5-B44B-74BD065779FB</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{73.000000, 148.000000}</string>
					<key>spriteName</key>
					<string>monouso_w2_01_0011.png</string>
					<key>spriteUUID</key>
					<string>8E62A584-3DF9-466B-A853-F3BB8FA4C986</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>34920B30-FE92-4599-9D28-80B25DA4C0E3</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>name</key>
			<string>FaithJumpNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>6F8A8BE3-091A-43B0-B1DB-E4F2FB2286D7</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{64.000000, 32.000000}</string>
			<key>subclassNodeType</key>
			<string>FaithJumpBrick</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>FAITH</string>
			</array>
			<key>uuid</key>
			<string>EA97D5C0-35A4-46E5-B44B-74BD065779FB</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>2B7DC3ED-E1CD-4DCF-9992-55A8438ADB2E</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{64.000000, 32.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>6F8A8BE3-091A-43B0-B1DB-E4F2FB2286D7</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
