<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>04F60B34-7064-480A-B510-B79E21CBB373</string>
	<key>children</key>
	<array>
		<dict>
			<key>collideConnected</key>
			<true/>
			<key>dampingRatio</key>
			<real>0.0</real>
			<key>frequency</key>
			<real>0.10000000149011612</real>
			<key>name</key>
			<string>fireBrazierWeldJoint</string>
			<key>needsCopyReasignment</key>
			<true/>
			<key>nodeType</key>
			<string>LHWeldJoint</string>
			<key>parentUUID</key>
			<string>D43AC08F-8D37-4379-B91A-D337E63385CF</string>
			<key>relativePosA</key>
			<string>{-0.365228, -8.350271}</string>
			<key>spriteAUUID</key>
			<string>4C7A178A-14AD-40F5-945E-E5996AF9AB51</string>
			<key>spriteBUUID</key>
			<string>F73C1C62-0F16-45E1-9801-5E5505164099</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>A2DEDB89-C1D3-488F-B4A8-FAA63630FEA1</string>
		</dict>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>children</key>
					<array>
						<dict>
							<key>alpha</key>
							<real>255</real>
							<key>anchor</key>
							<string>{0.500000, 0.500000}</string>
							<key>colorOverlay</key>
							<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
							<key>generalPosition</key>
							<string>{0.000000, -0.025000}</string>
							<key>imageFileName</key>
							<string>Fire_spritesheet.png</string>
							<key>name</key>
							<string>fireSprite</string>
							<key>nodeType</key>
							<string>LHSprite</string>
							<key>parentUUID</key>
							<string>4C7A178A-14AD-40F5-945E-E5996AF9AB51</string>
							<key>relativeImagePath</key>
							<string>publishedResources/</string>
							<key>rotation</key>
							<real>0.0</real>
							<key>scale</key>
							<string>{0.500000, 0.500000}</string>
							<key>size</key>
							<string>{105.000000, 106.000000}</string>
							<key>spriteName</key>
							<string>fuoco_aterra_acceso_0000.png</string>
							<key>spriteUUID</key>
							<string>36432E43-618A-4FB5-9CBC-87192993D52D</string>
							<key>tags</key>
							<array>
								<string>DEFAULT</string>
							</array>
							<key>uuid</key>
							<string>90147C5B-B7EB-4790-9538-39E0A8821C62</string>
							<key>zOrder</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.000000, 0.067658}</string>
					<key>name</key>
					<string>fireNode</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>angularDamping</key>
						<real>0.0</real>
						<key>angularVelocity</key>
						<real>0.0</real>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<true/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<true/>
							<key>shapeID</key>
							<integer>0</integer>
						</dict>
						<key>gravityScale</key>
						<real>0.5</real>
						<key>linearDamping</key>
						<real>0.0</real>
						<key>linearVelocity</key>
						<string>{0.000000, 0.000000}</string>
						<key>ovalShape</key>
						<array>
							<array>
								<string>{-12, 9.7971748206813428e-16}</string>
								<string>{-11.769423484802246, -1.5607225894927979}</string>
								<string>{-11.086554527282715, -3.0614674091339111}</string>
								<string>{-9.977635383605957, -4.4445619583129883}</string>
								<string>{-8.4852809906005859, -5.6568541526794434}</string>
								<string>{-9.977635383605957, 4.4445619583129883}</string>
								<string>{-11.086554527282715, 3.0614674091339111}</string>
								<string>{-11.769423484802246, 1.5607225894927979}</string>
							</array>
							<array>
								<string>{-9.977635383605957, 4.4445619583129883}</string>
								<string>{-8.4852809906005859, -5.6568541526794434}</string>
								<string>{-6.6668429374694824, -6.651756763458252}</string>
								<string>{-4.5922012329101562, -7.3910360336303711}</string>
								<string>{-2.3410837650299072, -7.8462820053100586}</string>
								<string>{-4.5922012329101562, 7.3910360336303711}</string>
								<string>{-6.6668429374694824, 6.651756763458252}</string>
								<string>{-8.4852809906005859, 5.6568541526794434}</string>
							</array>
							<array>
								<string>{-4.5922012329101562, 7.3910360336303711}</string>
								<string>{-2.3410837650299072, -7.8462820053100586}</string>
								<string>{-2.2043642817137429e-15, -8}</string>
								<string>{2.3410837650299072, -7.8462820053100586}</string>
								<string>{4.5922012329101562, -7.3910360336303711}</string>
								<string>{2.3410837650299072, 7.8462820053100586}</string>
								<string>{7.3478805861154151e-16, 8}</string>
								<string>{-2.3410837650299072, 7.8462820053100586}</string>
							</array>
							<array>
								<string>{2.3410837650299072, 7.8462820053100586}</string>
								<string>{4.5922012329101562, -7.3910360336303711}</string>
								<string>{6.6668429374694824, -6.651756763458252}</string>
								<string>{8.4852809906005859, -5.6568541526794434}</string>
								<string>{9.977635383605957, -4.4445619583129883}</string>
								<string>{8.4852809906005859, 5.6568541526794434}</string>
								<string>{6.6668429374694824, 6.651756763458252}</string>
								<string>{4.5922012329101562, 7.3910360336303711}</string>
							</array>
							<array>
								<string>{8.4852809906005859, 5.6568541526794434}</string>
								<string>{9.977635383605957, -4.4445619583129883}</string>
								<string>{11.086554527282715, -3.0614674091339111}</string>
								<string>{11.769423484802246, -1.5607225894927979}</string>
								<string>{12, 0}</string>
								<string>{11.769423484802246, 1.5607225894927979}</string>
								<string>{11.086554527282715, 3.0614674091339111}</string>
								<string>{9.977635383605957, 4.4445619583129883}</string>
							</array>
						</array>
						<key>shape</key>
						<integer>4</integer>
						<key>type</key>
						<integer>2</integer>
					</dict>
					<key>nodeType</key>
					<string>LHNode</string>
					<key>parentUUID</key>
					<string>F73C1C62-0F16-45E1-9801-5E5505164099</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{4.687496, 5.412661}</string>
					<key>size</key>
					<string>{24.000000, 16.000000}</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
						<string>FIRE</string>
					</array>
					<key>uuid</key>
					<string>4C7A178A-14AD-40F5-945E-E5996AF9AB51</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, -0.075000}</string>
			<key>name</key>
			<string>brazierShape</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>D43AC08F-8D37-4379-B91A-D337E63385CF</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{74.999998, -86.602538}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{74.999998, 86.602538}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-75.000000, 86.602540}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-75.000000, -86.602540}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.426667, 0.369504}</string>
			<key>size</key>
			<string>{150.000000, 173.205078}</string>
			<key>subclassNodeType</key>
			<string>Brazier</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BRAZIER</string>
				<string>STATIC</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-75.000000, 86.602540}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-75.000000, -86.602540}</string>
					<key>uv</key>
					<string>{0.304688, 0.838291}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.999998, -86.602538}</string>
					<key>uv</key>
					<string>{0.304688, 0.161709}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-75.000000, 86.602540}</string>
					<key>uv</key>
					<string>{0.000000, 1.000000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.999998, -86.602538}</string>
					<key>uv</key>
					<string>{1.000000, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.999998, 86.602538}</string>
					<key>uv</key>
					<string>{0.770567, 0.795649}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>F73C1C62-0F16-45E1-9801-5E5505164099</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>collideConnected</key>
			<true/>
			<key>dampingRatio</key>
			<real>0.0</real>
			<key>frequency</key>
			<real>0.10000000149011612</real>
			<key>name</key>
			<string>blockBrazierWeldJoint</string>
			<key>needsCopyReasignment</key>
			<true/>
			<key>nodeType</key>
			<string>LHWeldJoint</string>
			<key>parentUUID</key>
			<string>D43AC08F-8D37-4379-B91A-D337E63385CF</string>
			<key>relativePosA</key>
			<string>{0.000329, -197.385871}</string>
			<key>spriteAUUID</key>
			<string>EB1DC863-F829-4D49-8331-93A4E7648251</string>
			<key>spriteBUUID</key>
			<string>F73C1C62-0F16-45E1-9801-5E5505164099</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>752C2D80-7632-4DD6-ABCB-10488695D395</string>
		</dict>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>passerellammovable.png1</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>EB1DC863-F829-4D49-8331-93A4E7648251</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.542011, 6.168308}</string>
					<key>size</key>
					<string>{128.000000, 32.000000}</string>
					<key>spriteName</key>
					<string>passerellammovable.png</string>
					<key>spriteUUID</key>
					<string>51170C8E-B263-434A-8D3E-FD5ECF322810</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>5D1766F4-BB32-41D6-B8F0-DFA814C85979</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>name</key>
			<string>Block1</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>2</integer>
					<key>categoryName</key>
					<string>Category_02</string>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1.3877787807814457e-16</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>D43AC08F-8D37-4379-B91A-D337E63385CF</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{98.688643, -98.458494}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{98.580723, 98.619349}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688642, 98.693202}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.622636, -98.693200}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.215945, 0.162119}</string>
			<key>size</key>
			<string>{197.377289, 197.386398}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>MOVABLE</string>
				<string>ONESIDE</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688642, 98.693202}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.622636, -98.693200}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688643, -98.458494}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688642, 98.693202}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688643, -98.458494}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580723, 98.619349}</string>
					<key>uv</key>
					<string>{0.109375, 0.500000}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>EB1DC863-F829-4D49-8331-93A4E7648251</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>6C01886B-898C-49E1-9B7C-48FF077DBD79</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{192.000000, 32.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>D43AC08F-8D37-4379-B91A-D337E63385CF</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
