<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>C9D82537-7EE9-42DC-B59A-2BED7F4F87FC</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>active</key>
					<true/>
					<key>fps</key>
					<integer>24</integer>
					<key>name</key>
					<string>note_movement</string>
					<key>properties</key>
					<dict>
						<key>Position</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>positions</key>
									<dict>
										<key>88CD3255-7BFE-4870-981B-62E9075684DE</key>
										<string>{0.000004, -0.000003}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>14</integer>
									<key>positions</key>
									<dict>
										<key>88CD3255-7BFE-4870-981B-62E9075684DE</key>
										<string>{0.000004, -6.000003}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>29</integer>
									<key>positions</key>
									<dict>
										<key>88CD3255-7BFE-4870-981B-62E9075684DE</key>
										<string>{0.000004, -0.000003}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>44</integer>
									<key>positions</key>
									<dict>
										<key>88CD3255-7BFE-4870-981B-62E9075684DE</key>
										<string>{0.000004, 5.999997}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>positions</key>
									<dict>
										<key>88CD3255-7BFE-4870-981B-62E9075684DE</key>
										<string>{0.000004, -0.000003}</string>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHPositionProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>0</integer>
					<key>totalFrames</key>
					<integer>60</integer>
				</dict>
				<dict>
					<key>active</key>
					<false/>
					<key>fps</key>
					<integer>12</integer>
					<key>name</key>
					<string>note_catch</string>
					<key>properties</key>
					<dict>
						<key>Position</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>positions</key>
									<dict>
										<key>88CD3255-7BFE-4870-981B-62E9075684DE</key>
										<string>{0.000000, -0.000000}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>119</integer>
									<key>positions</key>
									<dict>
										<key>88CD3255-7BFE-4870-981B-62E9075684DE</key>
										<string>{0.000000, -4000.000000}</string>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHPositionProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>1</integer>
					<key>totalFrames</key>
					<integer>120</integer>
				</dict>
			</array>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>animations</key>
					<array>
						<dict>
							<key>active</key>
							<false/>
							<key>fps</key>
							<integer>60</integer>
							<key>name</key>
							<string>rotation</string>
							<key>properties</key>
							<dict>
								<key>Rotation</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>rotations</key>
											<dict/>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>59</integer>
											<key>rotations</key>
											<dict>
												<key>DC70226A-C965-4B27-8D93-E3F7C6E192CC</key>
												<real>270</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>119</integer>
											<key>rotations</key>
											<dict>
												<key>DC70226A-C965-4B27-8D93-E3F7C6E192CC</key>
												<real>180</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>179</integer>
											<key>rotations</key>
											<dict>
												<key>DC70226A-C965-4B27-8D93-E3F7C6E192CC</key>
												<real>90</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>239</integer>
											<key>rotations</key>
											<dict/>
										</dict>
									</array>
									<key>type</key>
									<string>LHRotationProperty</string>
								</dict>
							</dict>
							<key>repetitions</key>
							<integer>0</integer>
							<key>totalFrames</key>
							<integer>240</integer>
						</dict>
					</array>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FlautoBG</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>88CD3255-7BFE-4870-981B-62E9075684DE</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{0.700000, 0.700000}</string>
					<key>size</key>
					<string>{256.000000, 256.000000}</string>
					<key>spriteName</key>
					<string>flauto_bg</string>
					<key>spriteUUID</key>
					<string>0BFAFB3D-74AA-4BD6-A7DE-DC7AFFE7686E</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>DC70226A-C965-4B27-8D93-E3F7C6E192CC</string>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, 0.000000}</string>
					<key>imageFileName</key>
					<string>Flauto_spritesheet.png</string>
					<key>name</key>
					<string>FlautoSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>88CD3255-7BFE-4870-981B-62E9075684DE</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{115.000000, 90.000000}</string>
					<key>spriteName</key>
					<string>flauto_part_00.png</string>
					<key>spriteUUID</key>
					<string>E5E3209B-9A67-4AA5-B3EC-03B94CA91AA2</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>998A9450-DFE2-4DC9-98A5-3C9449B35036</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, -0.000000}</string>
			<key>name</key>
			<string>Flute</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>5FAC6989-1DAE-41BB-AB1A-5E1DBE857AFD</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.600000, 0.600000}</string>
			<key>size</key>
			<string>{64.000000, 64.000000}</string>
			<key>subclassNodeType</key>
			<string>Flute</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>FLUTE</string>
			</array>
			<key>uuid</key>
			<string>88CD3255-7BFE-4870-981B-62E9075684DE</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>2B7DC3ED-E1CD-4DCF-9992-55A8438ADB2E</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{38.999512, 38.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>5FAC6989-1DAE-41BB-AB1A-5E1DBE857AFD</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
