<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>DC2DE7D7-94FB-40DE-8FDF-9F206721079B</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>active</key>
					<true/>
					<key>fps</key>
					<integer>24</integer>
					<key>name</key>
					<string>note_movement</string>
					<key>properties</key>
					<dict>
						<key>Position</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>positions</key>
									<dict>
										<key>6F5D41A2-21CD-48CF-A41A-00D4E194D7B6</key>
										<string>{0.000000, 0.000000}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>14</integer>
									<key>positions</key>
									<dict>
										<key>6F5D41A2-21CD-48CF-A41A-00D4E194D7B6</key>
										<string>{0.000000, -6.000000}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>29</integer>
									<key>positions</key>
									<dict>
										<key>6F5D41A2-21CD-48CF-A41A-00D4E194D7B6</key>
										<string>{0.000000, 0.000000}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>44</integer>
									<key>positions</key>
									<dict>
										<key>6F5D41A2-21CD-48CF-A41A-00D4E194D7B6</key>
										<string>{0.000000, 6.000000}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>positions</key>
									<dict>
										<key>6F5D41A2-21CD-48CF-A41A-00D4E194D7B6</key>
										<string>{0.000000, 0.000000}</string>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHPositionProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>0</integer>
					<key>totalFrames</key>
					<integer>60</integer>
				</dict>
			</array>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>animations</key>
					<array>
						<dict>
							<key>active</key>
							<true/>
							<key>fps</key>
							<integer>60</integer>
							<key>name</key>
							<string>rotation</string>
							<key>properties</key>
							<dict>
								<key>Rotation</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>rotations</key>
											<dict/>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>59</integer>
											<key>rotations</key>
											<dict>
												<key>3198908C-D27B-4CEB-B5A5-F8E9A6A6EDCB</key>
												<real>270</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>119</integer>
											<key>rotations</key>
											<dict>
												<key>3198908C-D27B-4CEB-B5A5-F8E9A6A6EDCB</key>
												<real>180</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>179</integer>
											<key>rotations</key>
											<dict>
												<key>3198908C-D27B-4CEB-B5A5-F8E9A6A6EDCB</key>
												<real>90</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>239</integer>
											<key>rotations</key>
											<dict/>
										</dict>
									</array>
									<key>type</key>
									<string>LHRotationProperty</string>
								</dict>
							</dict>
							<key>repetitions</key>
							<integer>0</integer>
							<key>totalFrames</key>
							<integer>240</integer>
						</dict>
					</array>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>notaRossa</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>6F5D41A2-21CD-48CF-A41A-00D4E194D7B6</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{128.000000, 128.000000}</string>
					<key>spriteName</key>
					<string>notaRossa_bg.png</string>
					<key>spriteUUID</key>
					<string>4D953CDB-D245-4629-8E08-5B4E9D6C05DE</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>3198908C-D27B-4CEB-B5A5-F8E9A6A6EDCB</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>nota1</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>6F5D41A2-21CD-48CF-A41A-00D4E194D7B6</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{128.000000, 128.000000}</string>
					<key>spriteName</key>
					<string>nota.png</string>
					<key>spriteUUID</key>
					<string>2179D19E-A2D4-4076-B7FA-B756A2B44B5D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>005B7EFB-0D23-4A97-A58E-9E0815563A33</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>name</key>
			<string>NotaNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>58EA6FFD-134C-4CF2-B0DE-5E7EA125E650</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{64.000000, 64.000000}</string>
			<key>subclassNodeType</key>
			<string>Note</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>NOTE</string>
				<string>INVERSE</string>
			</array>
			<key>uuid</key>
			<string>6F5D41A2-21CD-48CF-A41A-00D4E194D7B6</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>6C01886B-898C-49E1-9B7C-48FF077DBD79</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{64.000000, 64.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>58EA6FFD-134C-4CF2-B0DE-5E7EA125E650</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
