<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>30D9D21E-FF33-4AA7-B438-5BF87ABCB466</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.000000, -0.173485}</string>
					<key>imageFileName</key>
					<string>Monouso3_spritesheet.png</string>
					<key>name</key>
					<string>MonouseSprite4</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>A3DDD2B9-DDD2-417A-9900-B87DDE69C1CE</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{3.184000, 12.336693}</string>
					<key>size</key>
					<string>{78.000000, 154.000000}</string>
					<key>spriteName</key>
					<string>monouso_w3_02_0000.png</string>
					<key>spriteUUID</key>
					<string>6CF6E902-92EB-471F-9E16-61F7D4AE7179</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>99A45448-6616-48B7-AE01-B4816708FF69</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.100000, 0.000000}</string>
			<key>name</key>
			<string>Block4</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>1</integer>
					<key>maskName</key>
					<string>monousePlatformMask</string>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>876B2BE1-A2DE-45C4-84B0-34A5719C46CF</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688642, 98.693374}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-74.016506, -98.693373}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.324252, 0.081059}</string>
			<key>size</key>
			<string>{197.377350, 197.386749}</string>
			<key>subclassNodeType</key>
			<string>MonousePlatform</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>MONOUSE</string>
				<string>ONESIDE</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688642, 98.693374}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.109375, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.138509, 0.118786}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{1.000000, 0.001189}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.855273, 0.220615}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.000000, 1.000000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.138509, 0.118786}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>A3DDD2B9-DDD2-417A-9900-B87DDE69C1CE</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.003646, -0.173437}</string>
					<key>imageFileName</key>
					<string>Monouso3_spritesheet.png</string>
					<key>name</key>
					<string>MonouseSprite3</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>0E510DA4-8923-437E-96CC-02623135AE50</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{3.184000, 12.336693}</string>
					<key>size</key>
					<string>{83.000000, 150.000000}</string>
					<key>spriteName</key>
					<string>monouso_w3_03_0000.png</string>
					<key>spriteUUID</key>
					<string>A50D3B66-D284-466E-9831-ECC6A0772AF5</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>E40E14FA-AB58-469D-BA9A-410BF857A0DD</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.033333, 0.000000}</string>
			<key>name</key>
			<string>Block3</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>1</integer>
					<key>maskName</key>
					<string>monousePlatformMask</string>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>876B2BE1-A2DE-45C4-84B0-34A5719C46CF</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{98.689154, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{98.580216, 98.619521}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.689149, 98.693374}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-74.016026, -98.693373}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{74.016985, -98.693373}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.324252, 0.081059}</string>
			<key>size</key>
			<string>{197.378311, 197.386749}</string>
			<key>subclassNodeType</key>
			<string>MonousePlatform</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>MONOUSE</string>
				<string>ONESIDE</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580216, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.689149, 98.693374}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.689154, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580216, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
					<key>uv</key>
					<string>{0.109375, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016985, -98.693373}</string>
					<key>uv</key>
					<string>{0.266747, 0.183963}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.689154, -49.346600}</string>
					<key>uv</key>
					<string>{1.000000, 0.001189}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016985, -98.693373}</string>
					<key>uv</key>
					<string>{0.774771, 0.238260}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-74.016026, -98.693373}</string>
					<key>uv</key>
					<string>{0.266747, 0.183963}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>0E510DA4-8923-437E-96CC-02623135AE50</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.008958, -0.154297}</string>
					<key>imageFileName</key>
					<string>Monouso3_spritesheet.png</string>
					<key>name</key>
					<string>MonouseSprite2</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>26CFBBC0-5A70-4F8C-9420-29382A5A0998</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{3.184000, 12.336693}</string>
					<key>size</key>
					<string>{73.000000, 148.000000}</string>
					<key>spriteName</key>
					<string>monouso_w3_01_0000.png</string>
					<key>spriteUUID</key>
					<string>BEB83F3B-109A-4433-AD25-AB5970A4DDB5</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>B9716C02-3A4C-4023-BA2F-EEEA7CF7F02A</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{-0.033333, 0.000000}</string>
			<key>name</key>
			<string>Block2</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>1</integer>
					<key>maskName</key>
					<string>monousePlatformMask</string>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>876B2BE1-A2DE-45C4-84B0-34A5719C46CF</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{98.688675, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{98.581711, 98.619521}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.687654, 98.693374}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-74.016505, -98.693373}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{74.016507, -98.693373}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.324252, 0.081059}</string>
			<key>size</key>
			<string>{197.377350, 197.386749}</string>
			<key>subclassNodeType</key>
			<string>MonousePlatform</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>MONOUSE</string>
				<string>ONESIDE</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.581711, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.687654, 98.693374}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688675, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.581711, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
					<key>uv</key>
					<string>{0.109375, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016507, -98.693373}</string>
					<key>uv</key>
					<string>{0.158068, 0.142552}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688675, -49.346600}</string>
					<key>uv</key>
					<string>{1.000000, 0.001189}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016507, -98.693373}</string>
					<key>uv</key>
					<string>{0.900288, 0.176483}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-74.016505, -98.693373}</string>
					<key>uv</key>
					<string>{0.158068, 0.142552}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>26CFBBC0-5A70-4F8C-9420-29382A5A0998</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, -0.173516}</string>
					<key>imageFileName</key>
					<string>Monouso3_spritesheet.png</string>
					<key>name</key>
					<string>MonouseSprite1</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>95E2A45A-E1DC-45A8-92A3-ACB328CB5CD0</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{3.184000, 12.336693}</string>
					<key>size</key>
					<string>{78.000000, 154.000000}</string>
					<key>spriteName</key>
					<string>monouso_w3_02_0000.png</string>
					<key>spriteUUID</key>
					<string>6CF6E902-92EB-471F-9E16-61F7D4AE7179</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>E9CC1F74-5CA9-4DD1-9E0A-5FEA4B9E949E</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{-0.100000, 0.000000}</string>
			<key>name</key>
			<string>Block1</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>1</integer>
					<key>maskName</key>
					<string>monousePlatformMask</string>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>876B2BE1-A2DE-45C4-84B0-34A5719C46CF</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688642, 98.693374}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-74.016506, -98.693373}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.324252, 0.081059}</string>
			<key>size</key>
			<string>{197.377350, 197.386749}</string>
			<key>subclassNodeType</key>
			<string>MonousePlatform</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>MONOUSE</string>
				<string>ONESIDE</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688642, 98.693374}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.109375, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.107692, 0.301004}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.000000, 1.000000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.860095, 0.370942}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.000000, 1.000000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.107692, 0.301004}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>95E2A45A-E1DC-45A8-92A3-ACB328CB5CD0</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>2B7DC3ED-E1CD-4DCF-9992-55A8438ADB2E</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{256.000000, 15.994995}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>876B2BE1-A2DE-45C4-84B0-34A5719C46CF</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
