<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>2643412F-09DB-418C-A4BD-051592F8FEC9</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, -0.154209}</string>
					<key>imageFileName</key>
					<string>Monouso2_spritesheet.png</string>
					<key>name</key>
					<string>MonouseSprite8</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>C4D8BEDA-342C-4D82-985A-20458437EE9D</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{3.184000, 12.336693}</string>
					<key>size</key>
					<string>{78.000000, 154.000000}</string>
					<key>spriteName</key>
					<string>monouso_w2_02_0000.png</string>
					<key>spriteUUID</key>
					<string>004978C0-F657-4ED9-838F-FE46F195D090</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>7DFB6DC1-6A00-4255-A200-D3273770E8A1</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.100000, 0.000000}</string>
			<key>name</key>
			<string>Block4</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>1</integer>
					<key>maskName</key>
					<string>monousePlatformMask</string>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>9CFAC7D9-2285-436D-AC0B-739B7758A262</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688642, 98.693374}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-74.016506, -98.693373}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.324252, 0.081059}</string>
			<key>size</key>
			<string>{197.377350, 197.386749}</string>
			<key>subclassNodeType</key>
			<string>MonousePlatform</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>MONOUSE</string>
				<string>ONESIDE</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688642, 98.693374}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.109375, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.138509, 0.118786}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{1.000000, 0.001189}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.855273, 0.220615}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.000000, 1.000000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.138509, 0.118786}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>C4D8BEDA-342C-4D82-985A-20458437EE9D</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.003646, -0.173485}</string>
					<key>imageFileName</key>
					<string>Monouso2_spritesheet.png</string>
					<key>name</key>
					<string>MonouseSprite7</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>51325245-3E0E-411A-A5D4-53154FD43FF2</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{3.184000, 12.336693}</string>
					<key>size</key>
					<string>{83.000000, 150.000000}</string>
					<key>spriteName</key>
					<string>monouso_w2_03_0000.png</string>
					<key>spriteUUID</key>
					<string>B4A88C34-0CD7-46FF-AE1C-3BF708BE9F9A</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>A9984B7C-5AD9-4964-AC29-7910287B1B37</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.033333, 0.000000}</string>
			<key>name</key>
			<string>Block3</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>1</integer>
					<key>maskName</key>
					<string>monousePlatformMask</string>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>9CFAC7D9-2285-436D-AC0B-739B7758A262</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{98.689154, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{98.580216, 98.619521}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.689149, 98.693374}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-74.016026, -98.693373}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{74.016985, -98.693373}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.324252, 0.081059}</string>
			<key>size</key>
			<string>{197.378311, 197.386749}</string>
			<key>subclassNodeType</key>
			<string>MonousePlatform</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>MONOUSE</string>
				<string>ONESIDE</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580216, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.689149, 98.693374}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.689154, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580216, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
					<key>uv</key>
					<string>{0.109375, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016985, -98.693373}</string>
					<key>uv</key>
					<string>{0.266747, 0.183963}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.689154, -49.346600}</string>
					<key>uv</key>
					<string>{1.000000, 0.001189}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016985, -98.693373}</string>
					<key>uv</key>
					<string>{0.774771, 0.238260}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688195, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-74.016026, -98.693373}</string>
					<key>uv</key>
					<string>{0.266747, 0.183963}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>51325245-3E0E-411A-A5D4-53154FD43FF2</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.008750, -0.154209}</string>
					<key>imageFileName</key>
					<string>Monouso2_spritesheet.png</string>
					<key>name</key>
					<string>MonouseSprite6</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>821B1F35-A983-44C3-9DF9-5CE5238C331F</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{3.184000, 12.336693}</string>
					<key>size</key>
					<string>{73.000000, 148.000000}</string>
					<key>spriteName</key>
					<string>monouso_w2_01_0000.png</string>
					<key>spriteUUID</key>
					<string>CC723CBA-68E6-4257-BD60-23DC477A836F</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>654DEA13-C144-444A-8070-B2C1D044B661</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{-0.033333, 0.000000}</string>
			<key>name</key>
			<string>Block2</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>1</integer>
					<key>maskName</key>
					<string>monousePlatformMask</string>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>9CFAC7D9-2285-436D-AC0B-739B7758A262</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{98.688675, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{98.581711, 98.619521}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.687654, 98.693374}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-74.016505, -98.693373}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{74.016507, -98.693373}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.324252, 0.081059}</string>
			<key>size</key>
			<string>{197.377350, 197.386749}</string>
			<key>subclassNodeType</key>
			<string>MonousePlatform</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>MONOUSE</string>
				<string>ONESIDE</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.581711, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.687654, 98.693374}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688675, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.581711, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
					<key>uv</key>
					<string>{0.109375, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016507, -98.693373}</string>
					<key>uv</key>
					<string>{0.158068, 0.142552}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688675, -49.346600}</string>
					<key>uv</key>
					<string>{1.000000, 0.001189}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016507, -98.693373}</string>
					<key>uv</key>
					<string>{0.900288, 0.176483}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688673, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-74.016505, -98.693373}</string>
					<key>uv</key>
					<string>{0.158068, 0.142552}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>821B1F35-A983-44C3-9DF9-5CE5238C331F</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>0.0</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.000000, -0.173485}</string>
					<key>imageFileName</key>
					<string>Monouso2_spritesheet.png</string>
					<key>name</key>
					<string>MonouseSprite5</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>7E680568-CD12-405C-B04C-48E084C3B2EB</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{3.108000, 12.336693}</string>
					<key>size</key>
					<string>{78.000000, 154.000000}</string>
					<key>spriteName</key>
					<string>monouso_w2_02_0000.png</string>
					<key>spriteUUID</key>
					<string>004978C0-F657-4ED9-838F-FE46F195D090</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>17FD2A9A-3F66-43E6-9F2B-8D5D6CF806EF</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.000000, 0.000000}, {0.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{-0.100000, 0.000000}</string>
			<key>name</key>
			<string>Block1</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>1</integer>
					<key>maskName</key>
					<string>monousePlatformMask</string>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHTexturedShape</string>
			<key>parentUUID</key>
			<string>9CFAC7D9-2285-436D-AC0B-739B7758A262</string>
			<key>points</key>
			<array>
				<dict>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688642, 98.693374}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{-74.016506, -98.693373}</string>
				</dict>
				<dict>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
				</dict>
			</array>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.324252, 0.081059}</string>
			<key>size</key>
			<string>{197.377350, 197.386749}</string>
			<key>subclassNodeType</key>
			<string>MonousePlatform</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>BLOCK</string>
				<string>MONOUSE</string>
				<string>ONESIDE</string>
			</array>
			<key>tileScale</key>
			<string>{1.000000, 1.000000}</string>
			<key>tileTexture</key>
			<false/>
			<key>triangles</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688642, 98.693374}</string>
					<key>uv</key>
					<string>{0.890625, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.500000, 0.109375}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.580723, 98.619521}</string>
					<key>uv</key>
					<string>{0.500000, 0.890625}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.109375, 0.500000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.107692, 0.301004}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.999453, 0.999626}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.000000, 1.000000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.860095, 0.370942}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-98.688674, -49.346600}</string>
					<key>uv</key>
					<string>{0.000000, 1.000000}</string>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>color</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>point</key>
					<string>{-74.016506, -98.693373}</string>
					<key>uv</key>
					<string>{0.107692, 0.301004}</string>
				</dict>
			</array>
			<key>uuid</key>
			<string>7E680568-CD12-405C-B04C-48E084C3B2EB</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>2B7DC3ED-E1CD-4DCF-9992-55A8438ADB2E</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{253.194336, 16.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>9CFAC7D9-2285-436D-AC0B-739B7758A262</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
