<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>CC1D3B34-07DE-4B26-AB11-18A00B2A55BF</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>animations</key>
			<array>
				<dict>
					<key>active</key>
					<true/>
					<key>fps</key>
					<integer>24</integer>
					<key>name</key>
					<string>note_movement</string>
					<key>properties</key>
					<dict>
						<key>Position</key>
						<dict>
							<key>Frames</key>
							<array>
								<dict>
									<key>frameIndex</key>
									<integer>0</integer>
									<key>positions</key>
									<dict>
										<key>A4383A2C-604D-4F1D-AA4C-C72E0BE249E1</key>
										<string>{0.000000, 0.000000}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>14</integer>
									<key>positions</key>
									<dict>
										<key>A4383A2C-604D-4F1D-AA4C-C72E0BE249E1</key>
										<string>{0.000000, -6.000000}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>29</integer>
									<key>positions</key>
									<dict>
										<key>A4383A2C-604D-4F1D-AA4C-C72E0BE249E1</key>
										<string>{0.000000, 0.000000}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>44</integer>
									<key>positions</key>
									<dict>
										<key>A4383A2C-604D-4F1D-AA4C-C72E0BE249E1</key>
										<string>{0.000000, 6.000000}</string>
									</dict>
								</dict>
								<dict>
									<key>frameIndex</key>
									<integer>59</integer>
									<key>positions</key>
									<dict>
										<key>A4383A2C-604D-4F1D-AA4C-C72E0BE249E1</key>
										<string>{0.000000, 0.000000}</string>
									</dict>
								</dict>
							</array>
							<key>type</key>
							<string>LHPositionProperty</string>
						</dict>
					</dict>
					<key>repetitions</key>
					<integer>0</integer>
					<key>totalFrames</key>
					<integer>60</integer>
				</dict>
			</array>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>animations</key>
					<array>
						<dict>
							<key>active</key>
							<true/>
							<key>fps</key>
							<integer>60</integer>
							<key>name</key>
							<string>rotation</string>
							<key>properties</key>
							<dict>
								<key>Rotation</key>
								<dict>
									<key>Frames</key>
									<array>
										<dict>
											<key>frameIndex</key>
											<integer>0</integer>
											<key>rotations</key>
											<dict/>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>59</integer>
											<key>rotations</key>
											<dict>
												<key>33199E1E-8802-45E9-8840-A58E944432CA</key>
												<real>270</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>119</integer>
											<key>rotations</key>
											<dict>
												<key>33199E1E-8802-45E9-8840-A58E944432CA</key>
												<real>180</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>179</integer>
											<key>rotations</key>
											<dict>
												<key>33199E1E-8802-45E9-8840-A58E944432CA</key>
												<real>90</real>
											</dict>
										</dict>
										<dict>
											<key>frameIndex</key>
											<integer>239</integer>
											<key>rotations</key>
											<dict/>
										</dict>
									</array>
									<key>type</key>
									<string>LHRotationProperty</string>
								</dict>
							</dict>
							<key>repetitions</key>
							<integer>0</integer>
							<key>totalFrames</key>
							<integer>240</integer>
						</dict>
					</array>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>notaBlu.png</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>A4383A2C-604D-4F1D-AA4C-C72E0BE249E1</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{128.000000, 128.000000}</string>
					<key>spriteName</key>
					<string>notaBlu_bg.png</string>
					<key>spriteUUID</key>
					<string>16387FDF-7577-4073-922E-B748D020D5BD</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>33199E1E-8802-45E9-8840-A58E944432CA</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>nota2</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>A4383A2C-604D-4F1D-AA4C-C72E0BE249E1</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{128.000000, 128.000000}</string>
					<key>spriteName</key>
					<string>nota.png</string>
					<key>spriteUUID</key>
					<string>2179D19E-A2D4-4076-B7FA-B756A2B44B5D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>D5222462-9066-4E0B-8B13-04673D697BE5</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>name</key>
			<string>Nota1</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>48879976-E71E-40CE-A2E2-9975FFC406AB</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{64.000000, 64.000000}</string>
			<key>subclassNodeType</key>
			<string>Note</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>NOTE</string>
			</array>
			<key>uuid</key>
			<string>A4383A2C-604D-4F1D-AA4C-C72E0BE249E1</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>6C01886B-898C-49E1-9B7C-48FF077DBD79</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{64.000000, 63.996155}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>48879976-E71E-40CE-A2E2-9975FFC406AB</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
