<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>83E79250-99EB-4AFF-BA48-DEFF28AB2C0D</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, -0.200000}</string>
			<key>name</key>
			<string>PortalWorldNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>8444D2BB-B5D6-499A-8616-9BC6585BEFE0</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.918208, 1.000000}</string>
			<key>size</key>
			<string>{130.689346, 192.000000}</string>
			<key>subclassNodeType</key>
			<string>Portal</string>
			<key>tags</key>
			<array>
				<string>PORTAL</string>
			</array>
			<key>uuid</key>
			<string>7B113B2E-96A3-4488-871E-7B6153276EAD</string>
			<key>zOrder</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 1.000000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>imageFileName</key>
			<string>Level_Selection_BG.png</string>
			<key>name</key>
			<string>PortalSprite</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>8444D2BB-B5D6-499A-8616-9BC6585BEFE0</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{242.000000, 394.000000}</string>
			<key>spriteName</key>
			<string>portale</string>
			<key>spriteUUID</key>
			<string>78D0C5CB-EB2D-4F5D-A883-77B42749CB1B</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>AA0E426C-7188-404D-B34A-79C5D58F6A19</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 1.000000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>imageFileName</key>
			<string>Level_Selection_BG.png</string>
			<key>name</key>
			<string>PortalLightSprite</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>8444D2BB-B5D6-499A-8616-9BC6585BEFE0</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{242.000000, 394.000000}</string>
			<key>spriteName</key>
			<string>portale_active</string>
			<key>spriteUUID</key>
			<string>7DCFF713-51C1-4A4D-9EE3-B4144A7593A4</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>2CADBAAF-37B7-42B5-9B8B-6894F5C485B8</string>
			<key>zOrder</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.128126}</string>
			<key>imageFileName</key>
			<string>Level_Selection_BG.png</string>
			<key>name</key>
			<string>DestinationLabelNode</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>8444D2BB-B5D6-499A-8616-9BC6585BEFE0</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.500000, 1.500000}</string>
			<key>size</key>
			<string>{69.000000, 37.000000}</string>
			<key>spriteName</key>
			<string>targhettaLarga</string>
			<key>spriteUUID</key>
			<string>4D664DA8-F0C2-4677-A16C-8E5550B580C7</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>2AD2D7B0-4091-48E1-86C1-596B22271ADE</string>
			<key>zOrder</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>2B7DC3ED-E1CD-4DCF-9992-55A8438ADB2E</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{128.000000, 128.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>8444D2BB-B5D6-499A-8616-9BC6585BEFE0</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
