<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>73671A9F-6E78-4C71-8D95-F1FC39411AAE</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, -0.196875}</string>
			<key>name</key>
			<string>PortalWorldNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>9AA3758A-C1EF-47D7-B2CB-D018783D4431</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.918208, 1.000000}</string>
			<key>size</key>
			<string>{128.000000, 188.000000}</string>
			<key>subclassNodeType</key>
			<string>Portal</string>
			<key>tags</key>
			<array>
				<string>PORTAL</string>
			</array>
			<key>uuid</key>
			<string>C43D8E99-3AB6-4518-869C-CDF33D00C934</string>
			<key>zOrder</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 1.000000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>imageFileName</key>
			<string>Level_Selection_BG.png</string>
			<key>name</key>
			<string>PortalSprite</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9AA3758A-C1EF-47D7-B2CB-D018783D4431</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{242.000000, 394.000000}</string>
			<key>spriteName</key>
			<string>portale</string>
			<key>spriteUUID</key>
			<string>78D0C5CB-EB2D-4F5D-A883-77B42749CB1B</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>B2832A91-D266-4677-8426-57BF4287891D</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 1.000000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>imageFileName</key>
			<string>Level_Selection_BG.png</string>
			<key>name</key>
			<string>PortalLightSprite</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9AA3758A-C1EF-47D7-B2CB-D018783D4431</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{242.000000, 394.000000}</string>
			<key>spriteName</key>
			<string>portale_active</string>
			<key>spriteUUID</key>
			<string>7DCFF713-51C1-4A4D-9EE3-B4144A7593A4</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>CE3F5A94-62C7-4710-BA09-E510C7CF8A6F</string>
			<key>zOrder</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.129688}</string>
			<key>imageFileName</key>
			<string>Level_Selection_BG.png</string>
			<key>name</key>
			<string>DestinationLabelNode</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>9AA3758A-C1EF-47D7-B2CB-D018783D4431</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.500000, 1.500000}</string>
			<key>size</key>
			<string>{38.000000, 37.000000}</string>
			<key>spriteName</key>
			<string>targhetta</string>
			<key>spriteUUID</key>
			<string>8DB32385-D30E-42F1-8F89-A5A59F01DB3B</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>DB76376A-65FB-4A71-BFD3-B67C13CB74A2</string>
			<key>zOrder</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>SheepIconDisabledSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>42398B8B-A07B-443A-90D1-FF730CC477E4</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>sheepIcon_disabled</string>
					<key>spriteUUID</key>
					<string>6132382A-BDF0-4C84-AA8E-DF55086AABFE</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>6EE7EC9B-1343-43A6-A1CE-9E62FA233FFF</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>SheepIconActiveSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>42398B8B-A07B-443A-90D1-FF730CC477E4</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>sheepIcon_active</string>
					<key>spriteUUID</key>
					<string>5940F199-DD1A-42E5-B02C-8C0E9417804D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>0B4B0311-8B3E-43C4-96A2-7CF21B3E67E7</string>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>SheepIconCompleteSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>42398B8B-A07B-443A-90D1-FF730CC477E4</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>sheepIcon_complete</string>
					<key>spriteUUID</key>
					<string>F4B348FA-9894-4A08-B1DB-0C15CC727701</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>82D7882E-26C6-4A2D-9DBA-E12B4C28C429</string>
					<key>zOrder</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FluteIconDisabledSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>42398B8B-A07B-443A-90D1-FF730CC477E4</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>fluteIcon_disabled</string>
					<key>spriteUUID</key>
					<string>72DA5F66-EACE-4A5D-BE86-3C443C209252</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>83A8D04F-FF98-4F59-A325-5B14D7D75B82</string>
					<key>zOrder</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FluteIconActiveSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>42398B8B-A07B-443A-90D1-FF730CC477E4</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>fluteIcon_active</string>
					<key>spriteUUID</key>
					<string>3815D77E-F516-45D7-93B8-210786D1968D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>7EFF592C-B43E-4CE8-BA86-8C098DA432ED</string>
					<key>zOrder</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FluteIconCompleteSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>42398B8B-A07B-443A-90D1-FF730CC477E4</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>fluteIcon_complete</string>
					<key>spriteUUID</key>
					<string>C8E7D3AA-1D2B-411E-97C4-5BAC8BE68828</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>173C6513-A58A-4E92-A1C6-BFFBC3DF686F</string>
					<key>zOrder</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, -0.525000}</string>
			<key>name</key>
			<string>ScoreNode</string>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>9AA3758A-C1EF-47D7-B2CB-D018783D4431</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{30.000000, 30.000000}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>42398B8B-A07B-443A-90D1-FF730CC477E4</string>
			<key>zOrder</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>6C01886B-898C-49E1-9B7C-48FF077DBD79</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{128.000000, 128.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>9AA3758A-C1EF-47D7-B2CB-D018783D4431</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
