<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>0BF5553F-2C6D-4B3A-B027-B4FAE5BE3AD7</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.003125, -0.343750}</string>
			<key>name</key>
			<string>PortalWorldNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>1CF593BF-8FEE-4CF2-B6C0-2CE2453FD61D</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.918208, 1.000000}</string>
			<key>size</key>
			<string>{128.000000, 128.000000}</string>
			<key>subclassNodeType</key>
			<string>Portal</string>
			<key>tags</key>
			<array>
				<string>PORTAL</string>
			</array>
			<key>uuid</key>
			<string>85B22C67-130D-4642-B0CD-E4428640B9D5</string>
			<key>zOrder</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 1.000000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>imageFileName</key>
			<string>InactiveDoors.png</string>
			<key>name</key>
			<string>PortalSprite</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>1CF593BF-8FEE-4CF2-B6C0-2CE2453FD61D</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{310.000000, 482.000000}</string>
			<key>spriteName</key>
			<string>w4.png</string>
			<key>spriteUUID</key>
			<string>B96C9F35-7E10-4556-BC8F-C91F6D093805</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>BB470F57-38BE-44E6-B21D-60C4F64F3558</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 1.000000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>imageFileName</key>
			<string>ActiveDoors.png</string>
			<key>name</key>
			<string>PortalLightSprite</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>1CF593BF-8FEE-4CF2-B6C0-2CE2453FD61D</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{310.000000, 482.000000}</string>
			<key>spriteName</key>
			<string>w4Active.png</string>
			<key>spriteUUID</key>
			<string>C5AD3A90-8F87-4862-A2ED-C175536D6D0A</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>C313D417-C7B9-4F42-A3F5-8BAC37CBE953</string>
			<key>zOrder</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>SheepIconDisabledSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>91A8D4A2-BB73-4901-95B0-3FC7703A34EF</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>sheepIcon_disabled</string>
					<key>spriteUUID</key>
					<string>6132382A-BDF0-4C84-AA8E-DF55086AABFE</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>CC6C3820-7BFB-4EC9-A9BB-593816983C17</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>SheepIconActiveSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>91A8D4A2-BB73-4901-95B0-3FC7703A34EF</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>sheepIcon_active</string>
					<key>spriteUUID</key>
					<string>5940F199-DD1A-42E5-B02C-8C0E9417804D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>A1118C13-31F3-4840-911F-EFCD827CD601</string>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>SheepIconCompleteSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>91A8D4A2-BB73-4901-95B0-3FC7703A34EF</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>sheepIcon_complete</string>
					<key>spriteUUID</key>
					<string>F4B348FA-9894-4A08-B1DB-0C15CC727701</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>2EBF6D99-D613-4393-A992-6B15A7ED2485</string>
					<key>zOrder</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FluteIconDisabledSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>91A8D4A2-BB73-4901-95B0-3FC7703A34EF</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>fluteIcon_disabled</string>
					<key>spriteUUID</key>
					<string>72DA5F66-EACE-4A5D-BE86-3C443C209252</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>4DDD8D67-6DBB-45A6-953F-A991059E7F08</string>
					<key>zOrder</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FluteIconActiveSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>91A8D4A2-BB73-4901-95B0-3FC7703A34EF</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>fluteIcon_active</string>
					<key>spriteUUID</key>
					<string>3815D77E-F516-45D7-93B8-210786D1968D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>BD98B5F0-F796-40A4-9751-7A08CF61872C</string>
					<key>zOrder</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FluteIconCompleteSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>91A8D4A2-BB73-4901-95B0-3FC7703A34EF</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>fluteIcon_complete</string>
					<key>spriteUUID</key>
					<string>C8E7D3AA-1D2B-411E-97C4-5BAC8BE68828</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>9676FF6D-E967-480E-A391-DB82AE8970B3</string>
					<key>zOrder</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, -0.662500}</string>
			<key>name</key>
			<string>ScoreNode</string>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>1CF593BF-8FEE-4CF2-B6C0-2CE2453FD61D</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{30.000000, 30.000000}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>91A8D4A2-BB73-4901-95B0-3FC7703A34EF</string>
			<key>zOrder</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>2B7DC3ED-E1CD-4DCF-9992-55A8438ADB2E</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{128.000000, 128.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>1CF593BF-8FEE-4CF2-B6C0-2CE2453FD61D</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
