<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>EE495D5C-6D1F-42F9-B6AA-3E051BCAE6C5</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.010672, -0.341827}</string>
			<key>name</key>
			<string>PortalWorldNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>75CD7B32-2E35-45B6-A800-610281707586</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{0.918208, 1.000000}</string>
			<key>size</key>
			<string>{128.000000, 128.000000}</string>
			<key>subclassNodeType</key>
			<string>Portal</string>
			<key>tags</key>
			<array>
				<string>PORTAL</string>
			</array>
			<key>uuid</key>
			<string>517CDE66-72E9-4711-BBF9-97901BDCC489</string>
			<key>zOrder</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 1.000000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>imageFileName</key>
			<string>InactiveDoors.png</string>
			<key>name</key>
			<string>PortalSprite</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>75CD7B32-2E35-45B6-A800-610281707586</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{325.000000, 482.000000}</string>
			<key>spriteName</key>
			<string>w2.png</string>
			<key>spriteUUID</key>
			<string>6C18AF85-6F65-4117-894A-CC4D43667413</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>5AF7E9EC-3FE9-4429-90DF-EA46DF05A2C6</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 1.000000}</string>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>imageFileName</key>
			<string>ActiveDoors.png</string>
			<key>name</key>
			<string>PortalLightSprite</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>75CD7B32-2E35-45B6-A800-610281707586</string>
			<key>relativeImagePath</key>
			<string>publishedResources/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{325.000000, 482.000000}</string>
			<key>spriteName</key>
			<string>w2Active.png</string>
			<key>spriteUUID</key>
			<string>9A02D59F-E5C8-4208-B07E-659877BBBB7A</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>C096E1B5-7421-446E-BD76-D5D02421B5E7</string>
			<key>zOrder</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>SheepIconDisabledSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>8033F646-02A9-496E-9EB8-85BADFB5B51C</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>sheepIcon_disabled</string>
					<key>spriteUUID</key>
					<string>6132382A-BDF0-4C84-AA8E-DF55086AABFE</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>95B68692-B73F-412E-86FE-1770470052DA</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>SheepIconActiveSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>8033F646-02A9-496E-9EB8-85BADFB5B51C</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>sheepIcon_active</string>
					<key>spriteUUID</key>
					<string>5940F199-DD1A-42E5-B02C-8C0E9417804D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>5D2379D1-1B4C-47E9-9F64-11F509335AA1</string>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{-0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>SheepIconCompleteSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>8033F646-02A9-496E-9EB8-85BADFB5B51C</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>sheepIcon_complete</string>
					<key>spriteUUID</key>
					<string>F4B348FA-9894-4A08-B1DB-0C15CC727701</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>5D3B51CB-1F0E-45F1-871E-47CEC86571A7</string>
					<key>zOrder</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FluteIconDisabledSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>8033F646-02A9-496E-9EB8-85BADFB5B51C</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>fluteIcon_disabled</string>
					<key>spriteUUID</key>
					<string>72DA5F66-EACE-4A5D-BE86-3C443C209252</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>EDE33C4D-392C-412A-A492-A33402001A26</string>
					<key>zOrder</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FluteIconActiveSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>8033F646-02A9-496E-9EB8-85BADFB5B51C</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>fluteIcon_active</string>
					<key>spriteUUID</key>
					<string>3815D77E-F516-45D7-93B8-210786D1968D</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>030ABDAE-FB73-4215-8E77-3B53837D7291</string>
					<key>zOrder</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.026042, 0.000000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>FluteIconCompleteSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>8033F646-02A9-496E-9EB8-85BADFB5B51C</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{65.000000, 65.000000}</string>
					<key>spriteName</key>
					<string>fluteIcon_complete</string>
					<key>spriteUUID</key>
					<string>C8E7D3AA-1D2B-411E-97C4-5BAC8BE68828</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>F196CF82-58E0-4D3F-909D-746BD713E2E1</string>
					<key>zOrder</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.011714, -0.662500}</string>
			<key>name</key>
			<string>ScoreNode</string>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>75CD7B32-2E35-45B6-A800-610281707586</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{30.000000, 30.000000}</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
			</array>
			<key>uuid</key>
			<string>8033F646-02A9-496E-9EB8-85BADFB5B51C</string>
			<key>zOrder</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>6C01886B-898C-49E1-9B7C-48FF077DBD79</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{128.000000, 128.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>75CD7B32-2E35-45B6-A800-610281707586</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
