<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>26514DD9-EBF1-4A40-81EF-D8133189BCAF</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, -0.025000}</string>
					<key>imageFileName</key>
					<string>Objects_spritesheet.png</string>
					<key>name</key>
					<string>bottone.png</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>CFFD930E-A996-4B1E-B138-8D4FEF7DA030</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{64.000000, 32.000000}</string>
					<key>spriteName</key>
					<string>bottone.png</string>
					<key>spriteUUID</key>
					<string>60916A90-7890-4D81-A6C7-B63AD1B711BD</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>2E42654C-0E68-4B63-BD53-F14427ABAB76</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{0.317647, 0.000000}, {0.627451, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.000000}</string>
			<key>name</key>
			<string>SwitchNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>0.0</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>1FD43CBE-F47E-49D8-8239-AE1201625F16</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{64.000000, 64.000000}</string>
			<key>subclassNodeType</key>
			<string>Switch</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>SWITCH</string>
			</array>
			<key>uuid</key>
			<string>CFFD930E-A996-4B1E-B138-8D4FEF7DA030</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>2B7DC3ED-E1CD-4DCF-9992-55A8438ADB2E</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{64.000000, 64.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>1FD43CBE-F47E-49D8-8239-AE1201625F16</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
