<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha</key>
	<real>255</real>
	<key>anchor</key>
	<string>{0.500000, 0.500000}</string>
	<key>assetUUID</key>
	<string>130B606E-8498-47FF-BCF2-E1052B3555B2</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.500000, 0.500000}</string>
			<key>children</key>
			<array>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.500000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, -0.075000}</string>
					<key>name</key>
					<string>WolfPlayerAreaNode</string>
					<key>nodePhysics</key>
					<dict>
						<key>allowSleep</key>
						<true/>
						<key>angularDamping</key>
						<real>0.0</real>
						<key>angularVelocity</key>
						<real>0.0</real>
						<key>bullet</key>
						<false/>
						<key>fixedRotation</key>
						<false/>
						<key>genericFixture</key>
						<dict>
							<key>category</key>
							<integer>1</integer>
							<key>density</key>
							<real>0.10000000149011612</real>
							<key>friction</key>
							<real>0.20000000298023224</real>
							<key>mask</key>
							<integer>65535</integer>
							<key>name</key>
							<string>GenericFixture</string>
							<key>restitution</key>
							<real>0.0</real>
							<key>sensor</key>
							<true/>
							<key>shapeID</key>
							<integer>0</integer>
						</dict>
						<key>gravityScale</key>
						<real>1</real>
						<key>linearDamping</key>
						<real>0.0</real>
						<key>linearVelocity</key>
						<string>{0.000000, 0.000000}</string>
						<key>shape</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
					</dict>
					<key>nodeType</key>
					<string>LHNode</string>
					<key>parentUUID</key>
					<string>36BDDA04-97F7-442A-892F-58F7C03BD2E5</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{640.000000, 256.000000}</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
						<string>WOLF_PLAYER_AREA</string>
					</array>
					<key>uuid</key>
					<string>A3694B88-AE7B-4164-8072-15A2742FDDF3</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>alpha</key>
					<real>255</real>
					<key>anchor</key>
					<string>{0.500000, 0.000000}</string>
					<key>colorOverlay</key>
					<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
					<key>generalPosition</key>
					<string>{0.000000, -0.175000}</string>
					<key>imageFileName</key>
					<string>lupo_spritesheet.png</string>
					<key>name</key>
					<string>WolfSprite</string>
					<key>nodeType</key>
					<string>LHSprite</string>
					<key>parentUUID</key>
					<string>36BDDA04-97F7-442A-892F-58F7C03BD2E5</string>
					<key>relativeImagePath</key>
					<string>publishedResources/</string>
					<key>rotation</key>
					<real>0.0</real>
					<key>scale</key>
					<string>{1.000000, 1.000000}</string>
					<key>size</key>
					<string>{192.000000, 192.000000}</string>
					<key>spriteName</key>
					<string>lupo_danger.png</string>
					<key>spriteUUID</key>
					<string>40A4D073-526B-4617-8739-BBC8B78C87FB</string>
					<key>tags</key>
					<array>
						<string>DEFAULT</string>
					</array>
					<key>uuid</key>
					<string>446F45CB-9AE2-43BE-A771-CB06BA2D1ED7</string>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>colorOverlay</key>
			<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
			<key>generalPosition</key>
			<string>{0.000000, 0.100000}</string>
			<key>name</key>
			<string>WolfNode</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<real>0.0</real>
				<key>angularVelocity</key>
				<real>0.0</real>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<true/>
					<key>shapeID</key>
					<integer>0</integer>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>linearDamping</key>
				<real>0.0</real>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHNode</string>
			<key>parentUUID</key>
			<string>C4E4209F-C1B3-4B17-A3F3-D48CFB649CBE</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1.000000, 1.000000}</string>
			<key>size</key>
			<string>{384.000000, 160.000000}</string>
			<key>subclassNodeType</key>
			<string>Wolf</string>
			<key>tags</key>
			<array>
				<string>DEFAULT</string>
				<string>WOLF</string>
			</array>
			<key>uuid</key>
			<string>36BDDA04-97F7-442A-892F-58F7C03BD2E5</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>colorOverlay</key>
	<string>{{1.000000, 1.000000}, {1.000000, 1.000000}}</string>
	<key>generalPosition</key>
	<string>{0.066667, 0.100000}</string>
	<key>name</key>
	<string>Untitled</string>
	<key>nodeType</key>
	<string>LHAsset</string>
	<key>parentUUID</key>
	<string>6C01886B-898C-49E1-9B7C-48FF077DBD79</string>
	<key>rotation</key>
	<real>0.0</real>
	<key>scale</key>
	<string>{1.000000, 1.000000}</string>
	<key>size</key>
	<string>{384.000000, 288.000000}</string>
	<key>tags</key>
	<array>
		<string>DEFAULT</string>
	</array>
	<key>uuid</key>
	<string>C4E4209F-C1B3-4B17-A3F3-D48CFB649CBE</string>
	<key>zOrder</key>
	<integer>0</integer>
</dict>
</plist>
