<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>w2_videoStory/w2_sc04/eolosc040001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,243},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,484},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,725},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040005.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,2},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040006.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,2},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040007.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,2},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040008.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,243},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040009.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,484},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040010.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,725},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040011.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,243},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040012.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,243},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040013.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,484},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040014.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,725},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040015.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,484},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
			<key>w2_videoStory/w2_sc04/eolosc040016.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,725},{237,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,237}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>w2_sc04_ss02.png</string>
			<key>realTextureFileName</key>
			<string>w2_sc04_ss02.png</string>
			<key>size</key>
			<string>{964,964}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>964</integer>
			<key>height</key>
			<integer>964</integer>
		</dict>
	</dict>
</plist>