<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>gufo2-loop_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{99.000000, 83.000000}, {25.000000, 22.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -4.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.000000, 8.000000}, {25.000000, 22.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>0D5AFBA2-FCFE-402D-8104-15C628CCAD63</string>
		</dict>
		<key>gufo2-loop_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 123.000000}, {43.000000, 22.000000}}</string>
			<key>offset</key>
			<string>{1.500000, -4.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 8.000000}, {43.000000, 22.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>30E4340E-284C-4D88-A558-D1023EDE7A56</string>
		</dict>
		<key>gufo2-loop_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{60.000000, 59.000000}, {30.000000, 30.000000}}</string>
			<key>offset</key>
			<string>{1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.000000, 0.000000}, {30.000000, 30.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>21B38DE0-0865-4189-803A-E7D1900DBA29</string>
		</dict>
		<key>gufo2-loop_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 2.000000}, {40.000000, 26.000000}}</string>
			<key>offset</key>
			<string>{3.000000, -2.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 4.000000}, {40.000000, 26.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>9E7F1A99-5CFA-4EB8-8B57-61EA7CBD8A86</string>
		</dict>
		<key>gufo2-state1_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{99.000000, 109.000000}, {23.000000, 21.000000}}</string>
			<key>offset</key>
			<string>{-6.500000, -2.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 5.000000}, {21.000000, 23.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>AFC89999-44E7-41B8-A844-C96CE2E35FBA</string>
		</dict>
		<key>gufo2-state2_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{93.000000, 59.000000}, {31.000000, 20.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, -3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.000000, 8.000000}, {31.000000, 20.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>068F532F-EF9C-4EF1-B0EB-D6F94DAEE8B9</string>
		</dict>
		<key>gufo2-state2_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 32.000000}, {42.000000, 25.000000}}</string>
			<key>offset</key>
			<string>{1.000000, -0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 3.000000}, {25.000000, 42.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>965F8908-DC46-45EB-ACB5-4F86B589314F</string>
		</dict>
		<key>gufo2-state2_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{48.000000, 105.000000}, {41.000000, 25.000000}}</string>
			<key>offset</key>
			<string>{1.500000, -0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 4.000000}, {25.000000, 41.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>FAF71759-5DD9-4A7A-864C-CFD021BB578E</string>
		</dict>
		<key>gufo2-state2_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{46.000000, 31.000000}, {42.000000, 25.000000}}</string>
			<key>offset</key>
			<string>{1.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 3.000000}, {42.000000, 25.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>EFE2AE93-28AF-4601-AE84-4A2B779C6FDF</string>
		</dict>
		<key>gufo2-state2_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 78.000000}, {41.000000, 25.000000}}</string>
			<key>offset</key>
			<string>{1.500000, -0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 4.000000}, {25.000000, 41.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>908108D6-95C6-4910-888D-32B2996E1C96</string>
		</dict>
		<key>gufo2-state2_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{92.000000, 2.000000}, {42.000000, 25.000000}}</string>
			<key>offset</key>
			<string>{1.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 3.000000}, {42.000000, 25.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>DAAE930E-5062-417E-AFD5-5F4F37F4561F</string>
		</dict>
		<key>gufo2-state2_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{30.000000, 60.000000}, {41.000000, 25.000000}}</string>
			<key>offset</key>
			<string>{1.500000, -0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 4.000000}, {25.000000, 41.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>22F55006-6540-49F3-8F8F-EE778EBA41B8</string>
		</dict>
		<key>gufo2-state2_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{46.000000, 2.000000}, {42.000000, 25.000000}}</string>
			<key>offset</key>
			<string>{1.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 3.000000}, {42.000000, 25.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>B6F1EAED-856D-4288-956C-73D488F35AA1</string>
		</dict>
		<key>gufo2-state2_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{92.000000, 31.000000}, {41.000000, 25.000000}}</string>
			<key>offset</key>
			<string>{1.500000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4.000000, 3.000000}, {41.000000, 25.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>AB58A5F0-3453-4BFA-B766-962D7C42D266</string>
		</dict>
		<key>gufo2-state2_0009.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{77.000000, 93.000000}, {45.000000, 18.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, -4.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 0.000000}, {18.000000, 45.000000}}</string>
			<key>sourceSize</key>
			<string>{46.000000, 30.000000}</string>
			<key>uuid</key>
			<string>CE32CC03-6F3A-45BB-977F-FC0855A91078</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{135.000000, 147.000000}</string>
		<key>textureFileName</key>
		<string>HuntingOwl_spritesheet.png</string>
	</dict>
</dict>
</plist>
