<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>statuaPan.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{488.000000, 488.000000}, {239.000000, 475.000000}}</string>
			<key>offset</key>
			<string>{-7.500000, -4.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76.000000, 8.000000}, {239.000000, 475.000000}}</string>
			<key>sourceSize</key>
			<string>{406.000000, 482.000000}</string>
			<key>uuid</key>
			<string>BFD57A09-F5B8-436A-A219-D7E39DD7A506</string>
		</dict>
		<key>w1.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{3.000000, 3.000000}, {329.000000, 482.000000}}</string>
			<key>offset</key>
			<string>{1.500000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 1.000000}, {329.000000, 482.000000}}</string>
			<key>sourceSize</key>
			<string>{330.000000, 482.000000}</string>
			<key>uuid</key>
			<string>44727E1C-645D-4AF4-9244-1DFB17EFA8C8</string>
		</dict>
		<key>w2.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 488.000000}, {325.000000, 482.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 0.000000}, {482.000000, 325.000000}}</string>
			<key>sourceSize</key>
			<string>{325.000000, 482.000000}</string>
			<key>uuid</key>
			<string>6C18AF85-6F65-4117-894A-CC4D43667413</string>
		</dict>
		<key>w3.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{648.000000, 3.000000}, {310.000000, 482.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {310.000000, 482.000000}}</string>
			<key>sourceSize</key>
			<string>{310.000000, 482.000000}</string>
			<key>uuid</key>
			<string>2DC86AD2-BC16-47DE-9F52-12E075C8CED5</string>
		</dict>
		<key>w4.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{335.000000, 3.000000}, {310.000000, 482.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {310.000000, 482.000000}}</string>
			<key>sourceSize</key>
			<string>{310.000000, 482.000000}</string>
			<key>uuid</key>
			<string>B96C9F35-7E10-4556-BC8F-C91F6D093805</string>
		</dict>
		<key>w5.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{730.000000, 488.000000}, {312.000000, 193.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -7.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {193.000000, 312.000000}}</string>
			<key>sourceSize</key>
			<string>{312.000000, 208.000000}</string>
			<key>uuid</key>
			<string>D2B45D79-DC8E-40EB-AD85-EA31CA488AFF</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{959.000000, 964.000000}</string>
		<key>textureFileName</key>
		<string>InactiveDoors.png</string>
	</dict>
</dict>
</plist>
