<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>lupo_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{645.000000, 590.000000}, {106.000000, 104.000000}}</string>
			<key>offset</key>
			<string>{71.000000, 11.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{141.000000, 5.000000}, {106.000000, 104.000000}}</string>
			<key>sourceSize</key>
			<string>{246.000000, 136.000000}</string>
			<key>uuid</key>
			<string>A6DB7BC9-B666-4DC4-88ED-285C89749D05</string>
		</dict>
		<key>lupo_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{194.000000, 662.000000}, {120.000000, 126.000000}}</string>
			<key>offset</key>
			<string>{64.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 127.000000}, {126.000000, 120.000000}}</string>
			<key>sourceSize</key>
			<string>{246.000000, 136.000000}</string>
			<key>uuid</key>
			<string>305C201C-C1A8-4DE0-89A8-DAE3C3C6CACD</string>
		</dict>
		<key>lupo_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{194.000000, 194.000000}, {193.000000, 133.000000}}</string>
			<key>offset</key>
			<string>{22.500000, 0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49.000000, 1.000000}, {193.000000, 133.000000}}</string>
			<key>sourceSize</key>
			<string>{246.000000, 136.000000}</string>
			<key>uuid</key>
			<string>B3C28ADA-476B-4F3D-986E-7B9A5A4BDC19</string>
		</dict>
		<key>lupo_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{387.000000, 193.000000}, {214.000000, 113.000000}}</string>
			<key>offset</key>
			<string>{-16.000000, -7.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4.000000, 0.000000}, {113.000000, 214.000000}}</string>
			<key>sourceSize</key>
			<string>{246.000000, 136.000000}</string>
			<key>uuid</key>
			<string>313A845A-C0A7-4635-99CC-FE1432EF5D99</string>
		</dict>
		<key>lupo_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{194.000000, 327.000000}, {199.000000, 113.000000}}</string>
			<key>offset</key>
			<string>{-5.500000, -5.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 18.000000}, {113.000000, 199.000000}}</string>
			<key>sourceSize</key>
			<string>{246.000000, 136.000000}</string>
			<key>uuid</key>
			<string>BEF08AC0-2519-4976-84F3-29A43FD2061A</string>
		</dict>
		<key>lupo_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{501.000000, 248.000000}, {195.000000, 114.000000}}</string>
			<key>offset</key>
			<string>{4.500000, -3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30.000000, 14.000000}, {195.000000, 114.000000}}</string>
			<key>sourceSize</key>
			<string>{246.000000, 136.000000}</string>
			<key>uuid</key>
			<string>252BF164-DEB6-4943-AE85-16B0C81F2250</string>
		</dict>
		<key>lupo_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{501.000000, 363.000000}, {187.000000, 114.000000}}</string>
			<key>offset</key>
			<string>{28.500000, -3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58.000000, 14.000000}, {187.000000, 114.000000}}</string>
			<key>sourceSize</key>
			<string>{246.000000, 136.000000}</string>
			<key>uuid</key>
			<string>2D8BAB9F-4CA9-4C37-966C-1D634AECE0C6</string>
		</dict>
		<key>lupo_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{689.000000, 363.000000}, {90.000000, 110.000000}}</string>
			<key>offset</key>
			<string>{79.000000, 1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{157.000000, 12.000000}, {90.000000, 110.000000}}</string>
			<key>sourceSize</key>
			<string>{246.000000, 136.000000}</string>
			<key>uuid</key>
			<string>8F6E2096-94B8-4DFA-811F-A7E7893C6CEB</string>
		</dict>
		<key>lupo_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{580.000000, 1.000000}, {246.000000, 136.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {136.000000, 246.000000}}</string>
			<key>sourceSize</key>
			<string>{246.000000, 136.000000}</string>
			<key>uuid</key>
			<string>D089940A-38EF-4E6B-9BB1-47F1F5B6BE11</string>
		</dict>
		<key>lupo_GROTTA_occhi_w5.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 580.000000}, {192.000000, 192.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {192.000000, 192.000000}}</string>
			<key>sourceSize</key>
			<string>{192.000000, 192.000000}</string>
			<key>uuid</key>
			<string>9E575A48-1B06-47D3-A3F6-505F913F937F</string>
		</dict>
		<key>lupo_GROTTA_w5.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 387.000000}, {192.000000, 192.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {192.000000, 192.000000}}</string>
			<key>sourceSize</key>
			<string>{192.000000, 192.000000}</string>
			<key>uuid</key>
			<string>5B224FDE-031A-4F16-A59E-BE1C45C47BB9</string>
		</dict>
		<key>lupo_Pan.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 1.000000}, {192.000000, 192.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {192.000000, 192.000000}}</string>
			<key>sourceSize</key>
			<string>{192.000000, 192.000000}</string>
			<key>uuid</key>
			<string>43DF1C72-728F-4114-83C6-38D3EEF022F2</string>
		</dict>
		<key>lupo_danger.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 194.000000}, {192.000000, 192.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {192.000000, 192.000000}}</string>
			<key>sourceSize</key>
			<string>{192.000000, 192.000000}</string>
			<key>uuid</key>
			<string>40A4D073-526B-4617-8739-BBC8B78C87FB</string>
		</dict>
		<key>lupo_davanti_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{652.000000, 478.000000}, {99.000000, 108.000000}}</string>
			<key>offset</key>
			<string>{16.500000, -3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36.000000, 15.000000}, {99.000000, 108.000000}}</string>
			<key>sourceSize</key>
			<string>{138.000000, 132.000000}</string>
			<key>uuid</key>
			<string>04BD9512-285F-48DF-A9F3-6964B3CE1301</string>
		</dict>
		<key>lupo_davanti_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{551.000000, 478.000000}, {101.000000, 111.000000}}</string>
			<key>offset</key>
			<string>{17.500000, -3.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36.000000, 14.000000}, {101.000000, 111.000000}}</string>
			<key>sourceSize</key>
			<string>{138.000000, 132.000000}</string>
			<key>uuid</key>
			<string>67F450F5-3FEF-4BB2-936A-22AA2F7BDE74</string>
		</dict>
		<key>lupo_davanti_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{301.000000, 541.000000}, {108.000000, 127.000000}}</string>
			<key>offset</key>
			<string>{14.000000, 2.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 29.000000}, {127.000000, 108.000000}}</string>
			<key>sourceSize</key>
			<string>{138.000000, 132.000000}</string>
			<key>uuid</key>
			<string>2F1699D3-4174-47FB-947A-0F8ACF83368F</string>
		</dict>
		<key>lupo_davanti_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{193.000000, 527.000000}, {134.000000, 107.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, -12.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {107.000000, 134.000000}}</string>
			<key>sourceSize</key>
			<string>{138.000000, 132.000000}</string>
			<key>uuid</key>
			<string>C9611F31-916B-4405-9DF2-20465D714D4E</string>
		</dict>
		<key>lupo_davanti_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{429.000000, 541.000000}, {121.000000, 107.000000}}</string>
			<key>offset</key>
			<string>{6.500000, -9.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15.000000, 22.000000}, {121.000000, 107.000000}}</string>
			<key>sourceSize</key>
			<string>{138.000000, 132.000000}</string>
			<key>uuid</key>
			<string>045608F4-0525-47EB-87EB-28C819E7ADCE</string>
		</dict>
		<key>lupo_davanti_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{321.000000, 650.000000}, {121.000000, 108.000000}}</string>
			<key>offset</key>
			<string>{8.500000, -7.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 17.000000}, {108.000000, 121.000000}}</string>
			<key>sourceSize</key>
			<string>{138.000000, 132.000000}</string>
			<key>uuid</key>
			<string>185AE618-400A-428C-8124-31A7015B1745</string>
		</dict>
		<key>lupo_davanti_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{429.000000, 648.000000}, {116.000000, 108.000000}}</string>
			<key>offset</key>
			<string>{9.000000, -6.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 20.000000}, {108.000000, 116.000000}}</string>
			<key>sourceSize</key>
			<string>{138.000000, 132.000000}</string>
			<key>uuid</key>
			<string>DA8765D6-E9CC-4CE6-B59F-28AD2179A938</string>
		</dict>
		<key>lupo_davanti_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{539.000000, 649.000000}, {105.000000, 109.000000}}</string>
			<key>offset</key>
			<string>{16.500000, -4.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33.000000, 16.000000}, {105.000000, 109.000000}}</string>
			<key>sourceSize</key>
			<string>{138.000000, 132.000000}</string>
			<key>uuid</key>
			<string>BBAD34D7-BF21-4E9B-A841-ECC868453F60</string>
		</dict>
		<key>lupo_davanti_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{308.000000, 408.000000}, {138.000000, 132.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {138.000000, 132.000000}}</string>
			<key>sourceSize</key>
			<string>{138.000000, 132.000000}</string>
			<key>uuid</key>
			<string>A04045B1-EE6D-42A4-A523-C08FC18AEF9D</string>
		</dict>
		<key>lupo_illuminato.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{194.000000, 1.000000}, {192.000000, 192.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {192.000000, 192.000000}}</string>
			<key>sourceSize</key>
			<string>{192.000000, 192.000000}</string>
			<key>uuid</key>
			<string>C571B778-1A36-413F-A459-D07578755264</string>
		</dict>
		<key>lupo_illuminato_w5.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{387.000000, 1.000000}, {192.000000, 192.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {192.000000, 192.000000}}</string>
			<key>sourceSize</key>
			<string>{192.000000, 192.000000}</string>
			<key>uuid</key>
			<string>ED903882-76DB-464A-A58B-F5E6AE9BAE47</string>
		</dict>
		<key>teschiPecora.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{715.000000, 0.000000}, {46.000000, 65.000000}}</string>
			<key>offset</key>
			<string>{-2.500000, -5.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 3.000000}, {65.000000, 46.000000}}</string>
			<key>sourceSize</key>
			<string>{57.000000, 73.000000}</string>
			<key>uuid</key>
			<string>4B3C37AE-535D-4AF1-9D5A-5AD7DB6A6618</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{781.000000, 781.000000}</string>
		<key>textureFileName</key>
		<string>lupo_spritesheet.png</string>
	</dict>
</dict>
</plist>
