<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>EXPERIMENTAL.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{430.000000, 584.000000}, {166.000000, 17.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {166.000000, 17.000000}}</string>
			<key>sourceSize</key>
			<string>{166.000000, 17.000000}</string>
			<key>uuid</key>
			<string>E7AE041A-3319-4BA6-B96F-26704A4695E3</string>
		</dict>
		<key>MAIN-MENU.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{289.000000, 584.000000}, {137.000000, 22.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {137.000000, 22.000000}}</string>
			<key>sourceSize</key>
			<string>{137.000000, 22.000000}</string>
			<key>uuid</key>
			<string>F6FED8D1-6F82-4A09-8D08-A80531E5DE0B</string>
		</dict>
		<key>TRADITIONAL.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{430.000000, 605.000000}, {153.000000, 17.000000}}</string>
			<key>offset</key>
			<string>{0.500000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4.000000, 0.000000}, {153.000000, 17.000000}}</string>
			<key>sourceSize</key>
			<string>{160.000000, 17.000000}</string>
			<key>uuid</key>
			<string>AED31D30-616E-4A86-A400-390C0B80F0D4</string>
		</dict>
		<key>cap1Btn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{425.000000, 297.000000}, {173.000000, 173.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {173.000000, 173.000000}}</string>
			<key>sourceSize</key>
			<string>{173.000000, 173.000000}</string>
			<key>uuid</key>
			<string>1177FA0D-813C-43C7-8EBD-D7E2FD7EF1EE</string>
		</dict>
		<key>cap2Btn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{248.000000, 297.000000}, {173.000000, 173.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {173.000000, 173.000000}}</string>
			<key>sourceSize</key>
			<string>{173.000000, 173.000000}</string>
			<key>uuid</key>
			<string>A8107653-CB48-4C1B-AC65-EA61CF4657FA</string>
		</dict>
		<key>cap3Btn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{425.000000, 2.000000}, {173.000000, 173.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {173.000000, 173.000000}}</string>
			<key>sourceSize</key>
			<string>{173.000000, 173.000000}</string>
			<key>uuid</key>
			<string>605324DE-1058-457A-9357-A44582A82089</string>
		</dict>
		<key>cap4Btn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{248.000000, 2.000000}, {173.000000, 173.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {173.000000, 173.000000}}</string>
			<key>sourceSize</key>
			<string>{173.000000, 173.000000}</string>
			<key>uuid</key>
			<string>DAB38E4D-C8F1-452B-BAAD-3AE8645CE9DE</string>
		</dict>
		<key>cerchioNota.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 248.000000}, {242.000000, 242.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {242.000000, 242.000000}}</string>
			<key>sourceSize</key>
			<string>{243.000000, 243.000000}</string>
			<key>uuid</key>
			<string>424DD77E-EC85-40B5-B520-C8B9973667E3</string>
		</dict>
		<key>contatorePecore.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{599.000000, 190.000000}, {55.000000, 45.000000}}</string>
			<key>offset</key>
			<string>{-3.500000, 7.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17.000000, 1.000000}, {45.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 64.000000}</string>
			<key>uuid</key>
			<string>692F3D48-4100-4B3F-B672-6C4AC055E498</string>
		</dict>
		<key>dxBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{611.000000, 167.000000}, {21.000000, 20.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 7.000000}, {21.000000, 20.000000}}</string>
			<key>sourceSize</key>
			<string>{32.000000, 32.000000}</string>
			<key>uuid</key>
			<string>BFF4114A-0F31-4FB4-BB99-5CFF1086DDC8</string>
		</dict>
		<key>jumpBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{610.000000, 95.000000}, {21.000000, 21.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 6.000000}, {21.000000, 21.000000}}</string>
			<key>sourceSize</key>
			<string>{32.000000, 32.000000}</string>
			<key>uuid</key>
			<string>44AC7B13-ACA6-4929-9F51-48DF1D22A31D</string>
		</dict>
		<key>levBtn_normal.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{65.000000, 584.000000}, {60.000000, 59.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 2.000000}, {59.000000, 60.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 63.000000}</string>
			<key>uuid</key>
			<string>0CACA689-4FCC-402D-94B6-9D870F1B7EC7</string>
		</dict>
		<key>levBtn_tap.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 584.000000}, {60.000000, 59.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 2.000000}, {59.000000, 60.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 63.000000}</string>
			<key>uuid</key>
			<string>12F99C06-D839-4BD1-AA44-EFDFEBF0B3A4</string>
		</dict>
		<key>nota_2.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 2.000000}, {242.000000, 242.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {242.000000, 242.000000}}</string>
			<key>sourceSize</key>
			<string>{243.000000, 243.000000}</string>
			<key>uuid</key>
			<string>23BF4292-3222-498E-9B1A-8D57C07AD4F9</string>
		</dict>
		<key>pausaNotaBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{610.000000, 119.000000}, {20.000000, 22.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4.000000, 6.000000}, {22.000000, 20.000000}}</string>
			<key>sourceSize</key>
			<string>{32.000000, 32.000000}</string>
			<key>uuid</key>
			<string>19ED479D-8753-4B87-A316-EDA6D6CB4514</string>
		</dict>
		<key>pauseBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{392.000000, 610.000000}, {21.000000, 21.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 6.000000}, {21.000000, 21.000000}}</string>
			<key>sourceSize</key>
			<string>{32.000000, 32.000000}</string>
			<key>uuid</key>
			<string>D2523B2E-35D4-4A76-A9F5-0EBB328FE723</string>
		</dict>
		<key>resetBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{515.000000, 625.000000}, {65.000000, 22.000000}}</string>
			<key>offset</key>
			<string>{0.500000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 4.000000}, {65.000000, 22.000000}}</string>
			<key>sourceSize</key>
			<string>{66.000000, 30.000000}</string>
			<key>uuid</key>
			<string>0AD84C23-765D-46CE-BBDB-971978CF79C3</string>
		</dict>
		<key>restartBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{368.000000, 611.000000}, {21.000000, 21.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 6.000000}, {21.000000, 21.000000}}</string>
			<key>sourceSize</key>
			<string>{32.000000, 32.000000}</string>
			<key>uuid</key>
			<string>977B3926-3363-4343-9603-CFF641852129</string>
		</dict>
		<key>restartTextBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{417.000000, 625.000000}, {93.000000, 22.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22.000000, 0.000000}, {93.000000, 22.000000}}</string>
			<key>sourceSize</key>
			<string>{137.000000, 22.000000}</string>
			<key>uuid</key>
			<string>7E647537-9557-4AE9-A583-6E97ACC7889E</string>
		</dict>
		<key>resumeBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{611.000000, 2.000000}, {89.000000, 22.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 24.000000}, {22.000000, 89.000000}}</string>
			<key>sourceSize</key>
			<string>{137.000000, 22.000000}</string>
			<key>uuid</key>
			<string>5E74598F-981B-4439-BD28-BF4280BD6DBE</string>
		</dict>
		<key>sheepTotal.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{128.000000, 632.000000}, {18.000000, 15.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 3.000000}, {18.000000, 15.000000}}</string>
			<key>sourceSize</key>
			<string>{20.000000, 20.000000}</string>
			<key>uuid</key>
			<string>F62E13C0-3B7D-4B75-B6E8-9E844CA46D1E</string>
		</dict>
		<key>switchBg.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{289.000000, 611.000000}, {75.000000, 31.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26.000000, 16.000000}, {75.000000, 31.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 64.000000}</string>
			<key>uuid</key>
			<string>0C71AD6A-6DC0-4841-A0EC-B4B02CBC82FB</string>
		</dict>
		<key>switchHandle.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{600.000000, 249.000000}, {44.000000, 44.000000}}</string>
			<key>offset</key>
			<string>{1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11.000000, 10.000000}, {44.000000, 44.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 64.000000}</string>
			<key>uuid</key>
			<string>591FAD0E-0884-47F6-8F58-43C2CBED99D0</string>
		</dict>
		<key>sxBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{611.000000, 143.000000}, {21.000000, 20.000000}}</string>
			<key>offset</key>
			<string>{0.500000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 6.000000}, {21.000000, 20.000000}}</string>
			<key>sourceSize</key>
			<string>{32.000000, 32.000000}</string>
			<key>uuid</key>
			<string>21A1D1D0-8611-4E8B-BC51-6907B16922E4</string>
		</dict>
		<key>title.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 494.000000}, {482.000000, 86.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {482.000000, 86.000000}}</string>
			<key>sourceSize</key>
			<string>{482.000000, 86.000000}</string>
			<key>uuid</key>
			<string>E5875BB4-9BBC-4711-8626-EF45FB64CDE8</string>
		</dict>
		<key>toggle01.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{209.000000, 584.000000}, {76.000000, 44.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26.000000, 10.000000}, {76.000000, 44.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 64.000000}</string>
			<key>uuid</key>
			<string>53BDF90E-29CC-4129-958B-BD988010B933</string>
		</dict>
		<key>toggle02.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{129.000000, 584.000000}, {77.000000, 44.000000}}</string>
			<key>offset</key>
			<string>{2.500000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28.000000, 10.000000}, {77.000000, 44.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 64.000000}</string>
			<key>uuid</key>
			<string>BF448637-44D3-4B8A-82E6-336455AA39D5</string>
		</dict>
		<key>zoomBtn.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{586.000000, 605.000000}, {21.000000, 21.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 6.000000}, {21.000000, 21.000000}}</string>
			<key>sourceSize</key>
			<string>{32.000000, 32.000000}</string>
			<key>uuid</key>
			<string>7FB36CF2-63D0-4F71-B3DC-26BDB1C61A29</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{645.000000, 649.000000}</string>
		<key>textureFileName</key>
		<string>MainMenu.png</string>
	</dict>
</dict>
</plist>
