<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>monouso_w2_01_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{392.000000, 216.000000}, {64.000000, 49.000000}}</string>
			<key>offset</key>
			<string>{-2.500000, 49.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 0.000000}, {64.000000, 49.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>CC723CBA-68E6-4257-BD60-23DC477A836F</string>
		</dict>
		<key>monouso_w2_01_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{214.000000, 390.000000}, {64.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.500000, 48.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 1.000000}, {64.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>79126701-A82A-437B-B5DB-B94522D687EB</string>
		</dict>
		<key>monouso_w2_01_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{149.000000, 390.000000}, {64.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.500000, 49.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 0.000000}, {64.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>05E829DB-8DBE-4146-A1B6-5B93A8BE4DB2</string>
		</dict>
		<key>monouso_w2_01_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{394.000000, 1.000000}, {64.000000, 64.000000}}</string>
			<key>offset</key>
			<string>{-2.500000, 42.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 0.000000}, {64.000000, 64.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>8269BB9E-8145-4769-82CD-7571E98886D0</string>
		</dict>
		<key>monouso_w2_01_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{370.000000, 272.000000}, {64.000000, 81.000000}}</string>
			<key>offset</key>
			<string>{-2.500000, 32.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 1.000000}, {64.000000, 81.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>8882D132-B0F0-49A8-A005-30E440E8BF99</string>
		</dict>
		<key>monouso_w2_01_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{227.000000, 208.000000}, {64.000000, 98.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, 24.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49.000000, 3.000000}, {98.000000, 64.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>C795837D-9843-48C9-86AD-75C3A95DF8B1</string>
		</dict>
		<key>monouso_w2_01_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{228.000000, 79.000000}, {65.000000, 128.000000}}</string>
			<key>offset</key>
			<string>{-3.000000, 9.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 1.000000}, {65.000000, 128.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>63D2EF66-F848-47ED-AE55-E420AE1D933E</string>
		</dict>
		<key>monouso_w2_01_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{279.000000, 1.000000}, {72.000000, 114.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 2.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19.000000, 0.000000}, {114.000000, 72.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>5C77E4BF-D8C5-4E66-A2FF-89CF84DE0C6A</string>
		</dict>
		<key>monouso_w2_01_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{294.000000, 73.000000}, {72.000000, 113.000000}}</string>
			<key>offset</key>
			<string>{1.500000, -17.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 35.000000}, {72.000000, 113.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>1A5D5BB7-8362-4EC3-8C7C-54B61F24381F</string>
		</dict>
		<key>monouso_w2_01_0009.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{74.000000, 441.000000}, {57.000000, 83.000000}}</string>
			<key>offset</key>
			<string>{9.000000, -27.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 17.000000}, {83.000000, 57.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>4C1C55D0-5D41-4317-8A71-ED745E2A9EA5</string>
		</dict>
		<key>monouso_w2_01_0010.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{50.000000, 455.000000}, {17.000000, 30.000000}}</string>
			<key>offset</key>
			<string>{16.000000, -39.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44.000000, 98.000000}, {17.000000, 30.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>99FC1BC9-C486-4740-BBE8-B7883E8ACC4F</string>
		</dict>
		<key>monouso_w2_01_0011.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 306.000000}, {73.000000, 148.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {73.000000, 148.000000}}</string>
			<key>sourceSize</key>
			<string>{73.000000, 148.000000}</string>
			<key>uuid</key>
			<string>8E62A584-3DF9-466B-A853-F3BB8FA4C986</string>
		</dict>
		<key>monouso_w2_02_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{434.000000, 266.000000}, {64.000000, 49.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 51.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{104.000000, 7.000000}, {49.000000, 64.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>004978C0-F657-4ED9-838F-FE46F195D090</string>
		</dict>
		<key>monouso_w2_02_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{419.000000, 438.000000}, {64.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{1.000000, 51.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8.000000, 1.000000}, {64.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>482A37FE-83D5-4747-90AC-8001FE68413B</string>
		</dict>
		<key>monouso_w2_02_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{354.000000, 439.000000}, {64.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{1.000000, 52.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8.000000, 0.000000}, {64.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>A56EFAB0-8FF9-4E4E-8E49-21DCB36F158C</string>
		</dict>
		<key>monouso_w2_02_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{392.000000, 155.000000}, {64.000000, 61.000000}}</string>
			<key>offset</key>
			<string>{1.000000, 45.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8.000000, 1.000000}, {64.000000, 61.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>C7FB5EC0-3BBC-46D1-BBC2-3A186A0D6597</string>
		</dict>
		<key>monouso_w2_02_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{357.000000, 373.000000}, {64.000000, 85.000000}}</string>
			<key>offset</key>
			<string>{1.000000, 33.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68.000000, 8.000000}, {85.000000, 64.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>ACCCD15F-489C-4638-BAA3-00E33E77B677</string>
		</dict>
		<key>monouso_w2_02_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{300.000000, 272.000000}, {69.000000, 100.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, 26.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 1.000000}, {69.000000, 100.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>A9E1C9CE-D546-4A70-9583-0022BEF0EFC8</string>
		</dict>
		<key>monouso_w2_02_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{158.000000, 115.000000}, {69.000000, 127.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, 12.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 1.000000}, {69.000000, 127.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>BBD64945-6654-465A-9447-164EC54508BE</string>
		</dict>
		<key>monouso_w2_02_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{163.000000, 0.000000}, {77.000000, 115.000000}}</string>
			<key>offset</key>
			<string>{0.500000, 5.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25.000000, 1.000000}, {115.000000, 77.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>34AEAE1F-B20E-414C-8DC7-C7A04A3E0A41</string>
		</dict>
		<key>monouso_w2_02_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{85.000000, 1.000000}, {78.000000, 113.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -20.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 41.000000}, {78.000000, 113.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>3DAB164F-B562-46E1-BC47-4E6666B90464</string>
		</dict>
		<key>monouso_w2_02_0009.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{367.000000, 74.000000}, {58.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{8.000000, -29.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18.000000, 66.000000}, {58.000000, 80.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>A094570F-6724-4134-8356-E62FCB4058AF</string>
		</dict>
		<key>monouso_w2_02_0010.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 456.000000}, {26.000000, 33.000000}}</string>
			<key>offset</key>
			<string>{20.000000, -41.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46.000000, 102.000000}, {26.000000, 33.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>7F29A67E-FC6C-4669-A77D-94516307BE80</string>
		</dict>
		<key>monouso_w2_02_0011.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 151.000000}, {78.000000, 154.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {78.000000, 154.000000}}</string>
			<key>sourceSize</key>
			<string>{78.000000, 154.000000}</string>
			<key>uuid</key>
			<string>0D22884E-E19A-4DDC-A093-5ACB30CBD50B</string>
		</dict>
		<key>monouso_w2_03_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{289.000000, 440.000000}, {64.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 49.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.000000, 1.000000}, {64.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>B4A88C34-0CD7-46FF-AE1C-3BF708BE9F9A</string>
		</dict>
		<key>monouso_w2_03_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{223.000000, 441.000000}, {64.000000, 51.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 48.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.000000, 1.000000}, {64.000000, 51.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>EFE9E985-396A-46B2-A89D-81D42AF5AEB5</string>
		</dict>
		<key>monouso_w2_03_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{158.000000, 440.000000}, {64.000000, 51.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 49.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.000000, 0.000000}, {64.000000, 51.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>DB0E2A1D-E061-4D6C-8482-80D67462EAE9</string>
		</dict>
		<key>monouso_w2_03_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{425.000000, 66.000000}, {64.000000, 61.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 44.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.000000, 0.000000}, {64.000000, 61.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>A2F14805-3874-4287-8F84-8673BB91A785</string>
		</dict>
		<key>monouso_w2_03_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{326.000000, 188.000000}, {64.000000, 83.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 32.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9.000000, 1.000000}, {64.000000, 83.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>C74E9D71-D6B9-4F13-886B-0C00EE1EC438</string>
		</dict>
		<key>monouso_w2_03_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{230.000000, 272.000000}, {70.000000, 103.000000}}</string>
			<key>offset</key>
			<string>{-2.500000, 22.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4.000000, 1.000000}, {70.000000, 103.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>1ECFA298-21D0-498A-90C9-E1E69B6351EA</string>
		</dict>
		<key>monouso_w2_03_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{75.000000, 307.000000}, {74.000000, 133.000000}}</string>
			<key>offset</key>
			<string>{-4.500000, 7.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {74.000000, 133.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>EAC97468-B03C-4829-B0F9-8D475BE384BC</string>
		</dict>
		<key>monouso_w2_03_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{80.000000, 151.000000}, {77.000000, 122.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 11.000000}, {77.000000, 122.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>77670640-0DCB-4FC6-A4FB-58B371F63345</string>
		</dict>
		<key>monouso_w2_03_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{149.000000, 274.000000}, {79.000000, 115.000000}}</string>
			<key>offset</key>
			<string>{2.000000, -17.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4.000000, 35.000000}, {79.000000, 115.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>7916D262-4422-4BCE-9E3D-A55888B5587B</string>
		</dict>
		<key>monouso_w2_03_0009.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{280.000000, 376.000000}, {63.000000, 77.000000}}</string>
			<key>offset</key>
			<string>{7.000000, -34.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 17.000000}, {77.000000, 63.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>0C4CA481-D1EC-4F9C-8224-03943DCC5980</string>
		</dict>
		<key>monouso_w2_03_0010.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{28.000000, 456.000000}, {21.000000, 33.000000}}</string>
			<key>offset</key>
			<string>{17.000000, -47.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48.000000, 106.000000}, {21.000000, 33.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>36153EF1-DBFE-4D4D-98B4-1A656F388029</string>
		</dict>
		<key>monouso_w2_03_0011.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 1.000000}, {83.000000, 150.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {83.000000, 150.000000}}</string>
			<key>sourceSize</key>
			<string>{83.000000, 150.000000}</string>
			<key>uuid</key>
			<string>08734414-27EB-42A2-9CA1-FAC984E4AB23</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{489.000000, 497.000000}</string>
		<key>textureFileName</key>
		<string>Monouso2_spritesheet.png</string>
	</dict>
</dict>
</plist>
