<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>Otre_Orizzontale_Shape.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<true/>
				<key>gravityScale</key>
				<integer>10</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>4</integer>
						<key>categoryName</key>
						<string>Category_03</string>
						<key>density</key>
						<real>0.10000000000000001</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>CentralRect</string>
						<key>points</key>
						<array>
							<array>
								<string>{-53.759481854873101, -32.686491916279152}</string>
								<string>{53.744715162151593, -32.573456049211003}</string>
								<string>{53.687871835602792, 32.619034139986873}</string>
								<string>{-53.742985683326367, 32.550241347683837}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>category</key>
						<integer>4</integer>
						<key>categoryName</key>
						<string>Category_03</string>
						<key>center</key>
						<string>{-54.000000, -22.500000}</string>
						<key>density</key>
						<real>0.050000000000000003</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65503</integer>
						<key>maskName</key>
						<string>EoloZoneMask</string>
						<key>name</key>
						<string>TopLeftCircle</string>
						<key>radius</key>
						<real>10.75</real>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>category</key>
						<integer>4</integer>
						<key>categoryName</key>
						<string>Category_03</string>
						<key>center</key>
						<string>{54.000000, -22.500000}</string>
						<key>density</key>
						<real>0.050000000000000003</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65503</integer>
						<key>maskName</key>
						<string>EoloZoneMask</string>
						<key>name</key>
						<string>TopRIghtCircle</string>
						<key>radius</key>
						<real>10.75</real>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>category</key>
						<integer>4</integer>
						<key>categoryName</key>
						<string>Category_03</string>
						<key>center</key>
						<string>{-54.000000, 22.500000}</string>
						<key>density</key>
						<real>0.050000000000000003</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65503</integer>
						<key>maskName</key>
						<string>EoloZoneMask</string>
						<key>name</key>
						<string>BottomLeftCircle</string>
						<key>radius</key>
						<real>10.75</real>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>category</key>
						<integer>4</integer>
						<key>categoryName</key>
						<string>Category_03</string>
						<key>center</key>
						<string>{54.000000, 22.500000}</string>
						<key>density</key>
						<real>0.050000000000000003</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65503</integer>
						<key>maskName</key>
						<string>EoloZoneMask</string>
						<key>name</key>
						<string>BottomRIghtCircle</string>
						<key>radius</key>
						<real>10.75</real>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>frame</key>
			<string>{{732.000000, 584.000000}, {128.000000, 64.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {64.000000, 128.000000}}</string>
			<key>sourceSize</key>
			<string>{128.000000, 64.000000}</string>
			<key>uuid</key>
			<string>A3576D3A-2C3D-473F-8B01-02E69DBE0F3C</string>
		</dict>
		<key>Otre_orizzontale_01_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>10</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{732.000000, 798.000000}, {216.000000, 81.000000}}</string>
			<key>offset</key>
			<string>{-181.500000, -9.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 93.000000}, {216.000000, 81.000000}}</string>
			<key>sourceSize</key>
			<string>{589.000000, 248.000000}</string>
			<key>uuid</key>
			<string>63FBB844-4273-4B73-87E9-ADC13B4FC950</string>
		</dict>
		<key>Otre_orizzontale_01_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{591.000000, 881.000000}, {222.000000, 71.000000}}</string>
			<key>offset</key>
			<string>{-182.500000, -14.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 103.000000}, {222.000000, 71.000000}}</string>
			<key>sourceSize</key>
			<string>{589.000000, 248.000000}</string>
			<key>uuid</key>
			<string>00C02A6D-A16A-48DB-B2A0-B19704835002</string>
		</dict>
		<key>Otre_orizzontale_01_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{732.000000, 714.000000}, {229.000000, 82.000000}}</string>
			<key>offset</key>
			<string>{-179.000000, -8.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 91.000000}, {229.000000, 82.000000}}</string>
			<key>sourceSize</key>
			<string>{589.000000, 248.000000}</string>
			<key>uuid</key>
			<string>DE223A8B-E3AD-4DDF-9EC6-D89A298C34DA</string>
		</dict>
		<key>Otre_orizzontale_02_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{585.000000, 584.000000}, {227.000000, 145.000000}}</string>
			<key>offset</key>
			<string>{-180.000000, 22.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74.000000, 1.000000}, {145.000000, 227.000000}}</string>
			<key>sourceSize</key>
			<string>{589.000000, 248.000000}</string>
			<key>uuid</key>
			<string>DF33D1EA-819A-4234-9638-A9F334D3F34B</string>
		</dict>
		<key>Otre_orizzontale_02_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 814.000000}, {588.000000, 160.000000}}</string>
			<key>offset</key>
			<string>{0.500000, 13.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 31.000000}, {588.000000, 160.000000}}</string>
			<key>sourceSize</key>
			<string>{589.000000, 248.000000}</string>
			<key>uuid</key>
			<string>1A0E83A9-9295-42DA-97FA-85D54EDBDBF6</string>
		</dict>
		<key>Otre_orizzontale_02_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{801.000000, 1.000000}, {588.000000, 160.000000}}</string>
			<key>offset</key>
			<string>{0.500000, 14.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58.000000, 1.000000}, {160.000000, 588.000000}}</string>
			<key>sourceSize</key>
			<string>{589.000000, 248.000000}</string>
			<key>uuid</key>
			<string>072266B5-00DA-430E-926E-43F0CC3AEEB4</string>
		</dict>
		<key>Otre_orizzontale_02_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 584.000000}, {583.000000, 180.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 4.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 30.000000}, {583.000000, 180.000000}}</string>
			<key>sourceSize</key>
			<string>{589.000000, 248.000000}</string>
			<key>uuid</key>
			<string>6A53E18E-67BB-4ADA-BE5E-663F6AC7BE65</string>
		</dict>
		<key>Otre_orizzontale_02_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{579.000000, 1.000000}, {581.000000, 220.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 2.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16.000000, 2.000000}, {220.000000, 581.000000}}</string>
			<key>sourceSize</key>
			<string>{589.000000, 248.000000}</string>
			<key>uuid</key>
			<string>EB6083F4-2D57-454D-983D-FAFD9151E2AE</string>
		</dict>
		<key>Otre_orizzontale_02_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 1.000000}, {576.000000, 234.000000}}</string>
			<key>offset</key>
			<string>{-3.500000, 3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 4.000000}, {576.000000, 234.000000}}</string>
			<key>sourceSize</key>
			<string>{589.000000, 248.000000}</string>
			<key>uuid</key>
			<string>4CB8D159-768C-4E31-84A5-FF3031EB384E</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{961.000000, 974.000000}</string>
		<key>textureFileName</key>
		<string>Otri_1_spritesheet.png</string>
	</dict>
</dict>
</plist>
