<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>lupo_0001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 98.000000}, {104.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{1.000000, -8.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 2.000000}, {80.000000, 104.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>872DC557-DB5C-46A6-9C95-3A99039B19A9</string>
		</dict>
		<key>lupo_0002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{100.000000, 98.000000}, {104.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{1.000000, -8.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 2.000000}, {80.000000, 104.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>1B2476A6-F742-4099-A30A-9B98D43E931F</string>
		</dict>
		<key>lupo_0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{302.000000, 95.000000}, {102.000000, 85.000000}}</string>
			<key>offset</key>
			<string>{2.000000, -6.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 4.000000}, {85.000000, 102.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>80DA0F5E-51FF-4E8F-873C-7052A5CC5666</string>
		</dict>
		<key>lupo_0004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{405.000000, 1.000000}, {101.000000, 89.000000}}</string>
			<key>offset</key>
			<string>{2.500000, -4.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 7.000000}, {101.000000, 89.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>F58F814F-1A76-4F0C-B312-89182FA0F5B4</string>
		</dict>
		<key>lupo_0005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{303.000000, 1.000000}, {100.000000, 92.000000}}</string>
			<key>offset</key>
			<string>{3.000000, -2.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 4.000000}, {100.000000, 92.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>E3286D6F-5CB4-475B-BFFF-4D7990B07482</string>
		</dict>
		<key>lupo_0006</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{202.000000, 1.000000}, {99.000000, 94.000000}}</string>
			<key>offset</key>
			<string>{3.500000, -1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.000000, 2.000000}, {99.000000, 94.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>11D680A8-C0E4-405B-A01F-A6AF684F4D8A</string>
		</dict>
		<key>lupo_0007</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{101.000000, 2.000000}, {99.000000, 95.000000}}</string>
			<key>offset</key>
			<string>{3.500000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.000000, 1.000000}, {99.000000, 95.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>19A8C9E4-B888-4441-9334-54824E361C5D</string>
		</dict>
		<key>lupo_0008</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 1.000000}, {98.000000, 95.000000}}</string>
			<key>offset</key>
			<string>{4.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8.000000, 0.000000}, {98.000000, 95.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>D85CD602-F53A-4985-9D5A-88EE64FEE4F3</string>
		</dict>
		<key>lupo_0009</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{405.000000, 92.000000}, {101.000000, 88.000000}}</string>
			<key>offset</key>
			<string>{2.500000, -3.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 7.000000}, {101.000000, 88.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>71E13B6B-76BD-4E05-B23A-9806E0EBB648</string>
		</dict>
		<key>lupo_0010</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{201.000000, 97.000000}, {104.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{1.000000, -8.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 2.000000}, {80.000000, 104.000000}}</string>
			<key>sourceSize</key>
			<string>{106.000000, 95.000000}</string>
			<key>uuid</key>
			<string>C25BC059-347D-47FA-8355-BB28F3ED2E3F</string>
		</dict>
		<key>pecoraCoro_0001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{48.000000, 424.000000}, {45.000000, 83.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {83.000000, 45.000000}}</string>
			<key>sourceSize</key>
			<string>{45.000000, 83.000000}</string>
			<key>uuid</key>
			<string>27C0155E-6C2F-4D07-AAB5-2280BFEA2123</string>
		</dict>
		<key>pecoraCoro_0002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 395.000000}, {45.000000, 83.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {45.000000, 83.000000}}</string>
			<key>sourceSize</key>
			<string>{45.000000, 83.000000}</string>
			<key>uuid</key>
			<string>518CE466-136C-4E40-9CB8-308C8FA5B25E</string>
		</dict>
		<key>pecoraCoro_0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{59.000000, 377.000000}, {45.000000, 83.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {83.000000, 45.000000}}</string>
			<key>sourceSize</key>
			<string>{45.000000, 83.000000}</string>
			<key>uuid</key>
			<string>E9B6B003-2D18-40FD-8890-14D550898EA0</string>
		</dict>
		<key>pecoraCoro_0004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{387.000000, 478.000000}, {45.000000, 83.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {45.000000, 83.000000}}</string>
			<key>sourceSize</key>
			<string>{45.000000, 83.000000}</string>
			<key>uuid</key>
			<string>3986C35A-533A-4C78-AA4F-80F9E55DF81F</string>
		</dict>
		<key>pecoraCoro_0005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{340.000000, 478.000000}, {45.000000, 83.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {45.000000, 83.000000}}</string>
			<key>sourceSize</key>
			<string>{45.000000, 83.000000}</string>
			<key>uuid</key>
			<string>8181E34C-E966-4A01-ACBF-E6D449A8C890</string>
		</dict>
		<key>pecoraFlauto1_0001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{382.000000, 414.000000}, {63.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {80.000000, 63.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 80.000000}</string>
			<key>uuid</key>
			<string>3FD94C41-596E-4EC1-93E1-6B3632C21FA2</string>
		</dict>
		<key>pecoraFlauto1_0002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{278.000000, 478.000000}, {60.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 1.000000}, {60.000000, 80.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 80.000000}</string>
			<key>uuid</key>
			<string>D115D33E-19B4-4C62-99AC-A559FD7698B6</string>
		</dict>
		<key>pecoraFlauto1_0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{152.000000, 371.000000}, {61.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 2.000000}, {80.000000, 61.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 80.000000}</string>
			<key>uuid</key>
			<string>36502869-5270-4E84-A4F1-FCF6BCBDD0D7</string>
		</dict>
		<key>pecoraFlauto1_0004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{464.000000, 471.000000}, {61.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 2.000000}, {80.000000, 61.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 80.000000}</string>
			<key>uuid</key>
			<string>9A861236-05D8-4D71-9864-E68CDEA6D8F3</string>
		</dict>
		<key>pecoraFlauto1_0005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{156.000000, 306.000000}, {63.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {80.000000, 63.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 80.000000}</string>
			<key>uuid</key>
			<string>E99AB072-BE65-4C13-AF53-5351FF7466DA</string>
		</dict>
		<key>pecoraFlauto2_0001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{48.000000, 470.000000}, {42.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {80.000000, 42.000000}}</string>
			<key>sourceSize</key>
			<string>{42.000000, 80.000000}</string>
			<key>uuid</key>
			<string>B3B39A86-7B91-4527-9698-9685ABD1CDC9</string>
		</dict>
		<key>pecoraFlauto2_0002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{45.000000, 514.000000}, {42.000000, 78.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {78.000000, 42.000000}}</string>
			<key>sourceSize</key>
			<string>{42.000000, 80.000000}</string>
			<key>uuid</key>
			<string>CA561D26-F57C-4E78-8838-52D03A9D77BE</string>
		</dict>
		<key>pecoraFlauto2_0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{130.000000, 478.000000}, {42.000000, 79.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 2.000000}, {42.000000, 79.000000}}</string>
			<key>sourceSize</key>
			<string>{42.000000, 80.000000}</string>
			<key>uuid</key>
			<string>1FC05BB5-B479-467F-9611-6D26ED2D53DB</string>
		</dict>
		<key>pecoraFlauto2_0004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 480.000000}, {42.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {42.000000, 80.000000}}</string>
			<key>sourceSize</key>
			<string>{42.000000, 80.000000}</string>
			<key>uuid</key>
			<string>0C8E1548-7619-424D-8976-33064E37AA31</string>
		</dict>
		<key>pecoraFlauto2_0005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{133.000000, 433.000000}, {42.000000, 80.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {80.000000, 42.000000}}</string>
			<key>sourceSize</key>
			<string>{42.000000, 80.000000}</string>
			<key>uuid</key>
			<string>1C250387-C80E-4ADC-BE5C-22D374B76C7D</string>
		</dict>
		<key>pecoraSolista1_0001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{59.000000, 265.000000}, {56.000000, 96.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -6.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {96.000000, 56.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>2FF1ACB0-B53B-450B-AC4D-AFDF2302907E</string>
		</dict>
		<key>pecoraSolista1_0002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{483.000000, 373.000000}, {56.000000, 96.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -6.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 12.000000}, {56.000000, 96.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>4AEAAF41-8A68-4C42-BAAE-495611C0FB70</string>
		</dict>
		<key>pecoraSolista1_0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{389.000000, 182.000000}, {56.000000, 108.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {108.000000, 56.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>45C5360B-DAFD-4F3A-813A-9DA2AF12BD17</string>
		</dict>
		<key>pecoraSolista1_0004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{283.000000, 199.000000}, {56.000000, 107.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {56.000000, 107.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>25A24949-8714-42BA-9EA1-FB9093479ED4</string>
		</dict>
		<key>pecoraSolista1_0005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{183.000000, 203.000000}, {56.000000, 102.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 6.000000}, {56.000000, 102.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>F2547233-0ECB-403D-A2F9-190AE5C956ED</string>
		</dict>
		<key>pecoraSolista1_0006</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{385.000000, 356.000000}, {56.000000, 96.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -6.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {96.000000, 56.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>CC87473C-A9E8-4F4B-BE21-4AF10EA57BB3</string>
		</dict>
		<key>pecoraSolista1_0007</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{385.000000, 298.000000}, {56.000000, 96.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -6.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {96.000000, 56.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>2197BB9D-09FB-4F87-9356-681D04699B50</string>
		</dict>
		<key>pecoraSolista1_0008</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{483.000000, 275.000000}, {56.000000, 96.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -6.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 12.000000}, {56.000000, 96.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>816E0DCC-EFCE-44EB-A882-E67A461F4F0B</string>
		</dict>
		<key>pecoraSolista1_0009</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{385.000000, 240.000000}, {56.000000, 96.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -6.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {96.000000, 56.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>376CCA29-9730-4D24-9513-D6707496EB1C</string>
		</dict>
		<key>pecoraSolista1_0010</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 204.000000}, {56.000000, 96.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -6.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 12.000000}, {56.000000, 96.000000}}</string>
			<key>sourceSize</key>
			<string>{56.000000, 108.000000}</string>
			<key>uuid</key>
			<string>35D5EB6A-E230-4B3A-AC7D-E076FDE840B5</string>
		</dict>
		<key>pecoraSolista2_0001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{234.000000, 400.000000}, {42.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.000000, 1.000000}, {42.000000, 91.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>ABBC5794-A252-4AA2-BEFD-A2B7E2F67908</string>
		</dict>
		<key>pecoraSolista2_0002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 302.000000}, {56.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 1.000000}, {56.000000, 91.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>265FDED6-7A4B-40AF-B59D-45FF2CAB8531</string>
		</dict>
		<key>pecoraSolista2_0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{59.000000, 323.000000}, {53.000000, 92.000000}}</string>
			<key>offset</key>
			<string>{0.500000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 4.000000}, {92.000000, 53.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>F07BFEC3-CFD9-4D5F-A26E-52A84254AF35</string>
		</dict>
		<key>pecoraSolista2_0004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{283.000000, 308.000000}, {55.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 1.000000}, {55.000000, 91.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>93EA4DF7-112B-4D4C-AD8F-35BCC99E6B60</string>
		</dict>
		<key>pecoraSolista2_0005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{83.000000, 203.000000}, {60.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {91.000000, 60.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>E9D0754C-FFA1-44F5-B35F-FF338C4E0877</string>
		</dict>
		<key>pecoraSolista2_0006</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{499.000000, 182.000000}, {50.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 1.000000}, {50.000000, 91.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>C7D86689-45F4-4E73-94F0-CD3F96F09663</string>
		</dict>
		<key>pecoraSolista2_0007</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{339.000000, 385.000000}, {42.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.000000, 1.000000}, {42.000000, 91.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>423A3DDD-1113-4821-846D-A6EE8CEC965C</string>
		</dict>
		<key>pecoraSolista2_0008</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{239.000000, 307.000000}, {42.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.000000, 1.000000}, {42.000000, 91.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>D4EEBDBF-475D-4D6F-BD5C-91443A2BAEC3</string>
		</dict>
		<key>pecoraSolista2_0009</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{341.000000, 292.000000}, {42.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.000000, 1.000000}, {42.000000, 91.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>007515C4-204C-4C32-B078-178C66CFF4CC</string>
		</dict>
		<key>pecoraSolista2_0010</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{341.000000, 199.000000}, {42.000000, 91.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.000000, 1.000000}, {42.000000, 91.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 92.000000}</string>
			<key>uuid</key>
			<string>1C2FB09F-4079-4559-A042-788694680172</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{549.000000, 562.000000}</string>
		<key>textureFileName</key>
		<string>SheepShow_spritesheet.png</string>
	</dict>
</dict>
</plist>
