<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>stella_idle_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 2.000000}, {191.000000, 139.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {139.000000, 191.000000}}</string>
			<key>sourceSize</key>
			<string>{191.000000, 139.000000}</string>
			<key>uuid</key>
			<string>F5368668-D23F-4405-9742-47E6A012677F</string>
		</dict>
		<key>stella_idle_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{182.000000, 121.000000}, {10.000000, 3.000000}}</string>
			<key>offset</key>
			<string>{-90.500000, 67.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{135.000000, 0.000000}, {3.000000, 10.000000}}</string>
			<key>sourceSize</key>
			<string>{191.000000, 139.000000}</string>
			<key>uuid</key>
			<string>2C66DD1E-3B48-4F1B-A1FE-E884ABE34983</string>
		</dict>
		<key>stella_idle_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{171.000000, 174.000000}, {14.000000, 13.000000}}</string>
			<key>offset</key>
			<string>{-74.500000, 63.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{126.000000, 14.000000}, {13.000000, 14.000000}}</string>
			<key>sourceSize</key>
			<string>{191.000000, 139.000000}</string>
			<key>uuid</key>
			<string>7A23F873-B574-47F9-A14E-FFAA6F610654</string>
		</dict>
		<key>stella_idle_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{145.000000, 155.000000}, {38.000000, 22.000000}}</string>
			<key>offset</key>
			<string>{-42.500000, 50.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{109.000000, 34.000000}, {22.000000, 38.000000}}</string>
			<key>sourceSize</key>
			<string>{191.000000, 139.000000}</string>
			<key>uuid</key>
			<string>63A35373-47BC-47B1-A0C1-B3C4B1533343</string>
		</dict>
		<key>stella_idle_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{145.000000, 61.000000}, {56.000000, 42.000000}}</string>
			<key>offset</key>
			<string>{-9.500000, 28.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77.000000, 58.000000}, {42.000000, 56.000000}}</string>
			<key>sourceSize</key>
			<string>{191.000000, 139.000000}</string>
			<key>uuid</key>
			<string>5774BE75-C816-4A9E-8239-94E04E78C016</string>
		</dict>
		<key>stella_idle_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{145.000000, 2.000000}, {55.000000, 47.000000}}</string>
			<key>offset</key>
			<string>{41.000000, -10.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36.000000, 109.000000}, {47.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{191.000000, 139.000000}</string>
			<key>uuid</key>
			<string>838E6EAE-44D2-4E9A-8B36-8CB119CAAC2C</string>
		</dict>
		<key>stella_idle_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{145.000000, 120.000000}, {30.000000, 34.000000}}</string>
			<key>offset</key>
			<string>{71.500000, -41.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11.000000, 152.000000}, {34.000000, 30.000000}}</string>
			<key>sourceSize</key>
			<string>{191.000000, 139.000000}</string>
			<key>uuid</key>
			<string>D00AD600-3F06-4E27-92C0-32381506F9F8</string>
		</dict>
		<key>stella_idle_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{170.000000, 154.000000}, {16.000000, 18.000000}}</string>
			<key>offset</key>
			<string>{83.500000, -55.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 171.000000}, {18.000000, 16.000000}}</string>
			<key>sourceSize</key>
			<string>{191.000000, 139.000000}</string>
			<key>uuid</key>
			<string>3705FD0A-19AD-4756-97AA-53D248811150</string>
		</dict>
		<key>stella_idle_0009.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{182.000000, 134.000000}, {5.000000, 6.000000}}</string>
			<key>offset</key>
			<string>{93.000000, -67.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 186.000000}, {6.000000, 5.000000}}</string>
			<key>sourceSize</key>
			<string>{191.000000, 139.000000}</string>
			<key>uuid</key>
			<string>0126AF2E-2FE8-4A4E-941C-0CD26365F228</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{194.000000, 195.000000}</string>
		<key>textureFileName</key>
		<string>Star_spritesheet.png</string>
	</dict>
</dict>
</plist>
