<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>tornado_Pixel.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 563.000000}, {2.000000, 2.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {2.000000, 2.000000}}</string>
			<key>sourceSize</key>
			<string>{2.000000, 2.000000}</string>
			<key>uuid</key>
			<string>B75DC034-EF59-4C6D-ACB5-3D6B9AD56F11</string>
		</dict>
		<key>tornado_loop_00023.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{453.000000, 1.000000}, {213.000000, 258.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{293.000000, 174.000000}, {213.000000, 258.000000}}</string>
			<key>sourceSize</key>
			<string>{213.000000, 258.000000}</string>
			<key>uuid</key>
			<string>81B043E9-89A0-430F-A276-8D6C673C9A49</string>
		</dict>
		<key>tornado_loop_00024.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{441.000000, 271.000000}, {210.000000, 271.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{286.000000, 162.000000}, {210.000000, 271.000000}}</string>
			<key>sourceSize</key>
			<string>{210.000000, 271.000000}</string>
			<key>uuid</key>
			<string>5022B67F-C6AB-4FA6-BC8D-9A1A8415885A</string>
		</dict>
		<key>tornado_loop_00025.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 279.000000}, {215.000000, 282.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{278.000000, 150.000000}, {215.000000, 282.000000}}</string>
			<key>sourceSize</key>
			<string>{215.000000, 282.000000}</string>
			<key>uuid</key>
			<string>BB77D00F-B0BA-4802-AA39-63DE9717F74E</string>
		</dict>
		<key>tornado_loop_00026.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{232.000000, 1.000000}, {218.000000, 268.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{269.000000, 165.000000}, {218.000000, 268.000000}}</string>
			<key>sourceSize</key>
			<string>{218.000000, 268.000000}</string>
			<key>uuid</key>
			<string>4D6B7619-DA08-4FD9-AA68-009B5D8F2B29</string>
		</dict>
		<key>tornado_loop_00027.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{218.000000, 279.000000}, {221.000000, 273.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{273.000000, 160.000000}, {221.000000, 273.000000}}</string>
			<key>sourceSize</key>
			<string>{221.000000, 273.000000}</string>
			<key>uuid</key>
			<string>DC3E7BFB-9D20-4907-9A9C-F40E7C4C4769</string>
		</dict>
		<key>tornado_loop_00028.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 1.000000}, {230.000000, 276.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{272.000000, 157.000000}, {230.000000, 276.000000}}</string>
			<key>sourceSize</key>
			<string>{230.000000, 276.000000}</string>
			<key>uuid</key>
			<string>05941D75-D457-41F8-802D-D782A4877964</string>
		</dict>
		<key>tornado_loop_00029.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{218.000000, 554.000000}, {199.000000, 249.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 296.000000}, {249.000000, 199.000000}}</string>
			<key>sourceSize</key>
			<string>{199.000000, 249.000000}</string>
			<key>uuid</key>
			<string>5360E77D-0385-45AB-BEC8-14B7432B0244</string>
		</dict>
		<key>tornado_loop_00030.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{468.000000, 543.000000}, {209.000000, 253.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 291.000000}, {253.000000, 209.000000}}</string>
			<key>sourceSize</key>
			<string>{209.000000, 253.000000}</string>
			<key>uuid</key>
			<string>22FF2374-3130-4AC6-B103-A73A80AE977E</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{722.000000, 752.000000}</string>
		<key>textureFileName</key>
		<string>Tornado2_spritesheet.png</string>
	</dict>
</dict>
</plist>
