<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>mondo1_nuvole0001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 876.000000}, {1011.000000, 174.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, 10.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 1.000000}, {1011.000000, 174.000000}}</string>
			<key>sourceSize</key>
			<string>{1024.000000, 197.000000}</string>
			<key>uuid</key>
			<string>5E297790-83BB-4DF0-87E6-3D1ED1BA3EC9</string>
		</dict>
		<key>mondo1_nuvole0002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{652.000000, 0.000000}, {801.000000, 334.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 13.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32.000000, 3.000000}, {334.000000, 801.000000}}</string>
			<key>sourceSize</key>
			<string>{808.000000, 372.000000}</string>
			<key>uuid</key>
			<string>3A45C081-8582-43A3-BB98-3A2BD1223F5F</string>
		</dict>
		<key>mondo1_nuvole0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 590.000000}, {632.000000, 287.000000}}</string>
			<key>offset</key>
			<string>{3.000000, 5.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8.000000, 4.000000}, {632.000000, 287.000000}}</string>
			<key>sourceSize</key>
			<string>{642.000000, 306.000000}</string>
			<key>uuid</key>
			<string>9DC8E163-F816-4540-A2F8-75FEDC833A86</string>
		</dict>
		<key>mondo1_nuvole0004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 0.000000}, {653.000000, 589.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, -5.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2.000000, 10.000000}, {653.000000, 589.000000}}</string>
			<key>sourceSize</key>
			<string>{658.000000, 599.000000}</string>
			<key>uuid</key>
			<string>CD7B908B-C01A-4677-8AA5-52363A85825C</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1010.000000, 1049.000000}</string>
		<key>textureFileName</key>
		<string>w1_nuvole.png</string>
	</dict>
</dict>
</plist>
