<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>mondo3_cespuglioscuro_001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{315.000000, 323.000000}, {181.000000, 104.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {104.000000, 181.000000}}</string>
			<key>sourceSize</key>
			<string>{182.000000, 104.000000}</string>
			<key>uuid</key>
			<string>4F8EE001-8063-4449-8606-44E3ACDB43F7</string>
		</dict>
		<key>mondo3_cespuglioscuro_002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 392.000000}, {212.000000, 193.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {193.000000, 212.000000}}</string>
			<key>sourceSize</key>
			<string>{213.000000, 194.000000}</string>
			<key>uuid</key>
			<string>8C62D9D1-9F9E-45A3-AE27-364C9DB5142A</string>
		</dict>
		<key>mondo3_cespuglioscuro_003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{472.000000, 616.000000}, {173.000000, 265.000000}}</string>
			<key>offset</key>
			<string>{1.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {265.000000, 173.000000}}</string>
			<key>sourceSize</key>
			<string>{173.000000, 265.000000}</string>
			<key>uuid</key>
			<string>C2B403F8-CB70-47E6-9005-1B0086CF7031</string>
		</dict>
		<key>mondo3_cespuglioscuro_004</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 2.000000}, {539.000000, 317.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {539.000000, 317.000000}}</string>
			<key>sourceSize</key>
			<string>{540.000000, 317.000000}</string>
			<key>uuid</key>
			<string>49EBA5A8-EEA7-455C-A40F-BC528FB6597E</string>
		</dict>
		<key>mondo3_cespuglioscuro_005</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{545.000000, 2.000000}, {609.000000, 279.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {279.000000, 609.000000}}</string>
			<key>sourceSize</key>
			<string>{609.000000, 279.000000}</string>
			<key>uuid</key>
			<string>01F5AA0E-A99C-4984-9696-C41620DAE498</string>
		</dict>
		<key>mondo3_cespuglioscuro_006</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 615.000000}, {466.000000, 138.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 3.000000}, {466.000000, 138.000000}}</string>
			<key>sourceSize</key>
			<string>{466.000000, 141.000000}</string>
			<key>uuid</key>
			<string>3181A220-0C0B-4B9C-A4D3-FB786198837F</string>
		</dict>
		<key>mondo3_cespuglioscuro_007</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{199.000000, 392.000000}, {181.000000, 112.000000}}</string>
			<key>offset</key>
			<string>{0.500000, -2.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {112.000000, 181.000000}}</string>
			<key>sourceSize</key>
			<string>{182.000000, 116.000000}</string>
			<key>uuid</key>
			<string>065F9D95-7246-4451-B92E-1D713648ED84</string>
		</dict>
		<key>mondo3_cespuglioscuro_008</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{472.000000, 323.000000}, {64.000000, 64.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {64.000000, 64.000000}}</string>
			<key>sourceSize</key>
			<string>{64.000000, 64.000000}</string>
			<key>uuid</key>
			<string>93A56B18-EA12-4FFA-9CC7-EAD4CDDBB6D3</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{825.000000, 789.000000}</string>
		<key>textureFileName</key>
		<string>w3_cespugliScuri.png</string>
	</dict>
</dict>
</plist>
