<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>mondo4_nuvole_0000</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{801.000000, 0.000000}, {1011.000000, 172.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, 10.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21.000000, 5.000000}, {172.000000, 1011.000000}}</string>
			<key>sourceSize</key>
			<string>{1024.000000, 194.000000}</string>
			<key>uuid</key>
			<string>B5D9349D-8198-4816-8D01-D8E22C7380B6</string>
		</dict>
		<key>mondo4_nuvole_0001</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 0.000000}, {801.000000, 334.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, 13.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3.000000, 6.000000}, {801.000000, 334.000000}}</string>
			<key>sourceSize</key>
			<string>{808.000000, 372.000000}</string>
			<key>uuid</key>
			<string>B1180129-AF5A-41C5-B69A-208468052B74</string>
		</dict>
		<key>mondo4_nuvole_0002</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{-1.000000, 334.000000}, {632.000000, 287.000000}}</string>
			<key>offset</key>
			<string>{3.000000, 5.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15.000000, 8.000000}, {287.000000, 632.000000}}</string>
			<key>sourceSize</key>
			<string>{642.000000, 306.000000}</string>
			<key>uuid</key>
			<string>0664A85B-44B8-48E1-8F54-93889192EB1B</string>
		</dict>
		<key>mondo4_nuvole_0003</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{287.000000, 334.000000}, {397.000000, 365.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, -3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 6.000000}, {397.000000, 365.000000}}</string>
			<key>sourceSize</key>
			<string>{400.000000, 371.000000}</string>
			<key>uuid</key>
			<string>CAEC275A-0E37-4D77-8D66-074F2E89FAA0</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{973.000000, 1010.000000}</string>
		<key>textureFileName</key>
		<string>w4_cielo.png</string>
	</dict>
</dict>
</plist>
