<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>mondo5_rovine0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 242.000000}, {346.000000, 233.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {346.000000, 233.000000}}</string>
			<key>sourceSize</key>
			<string>{346.000000, 233.000000}</string>
			<key>uuid</key>
			<string>26B8E1CC-03B6-4460-BAB8-86D3A5562561</string>
		</dict>
		<key>mondo5_rovine0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{714.000000, 202.000000}, {99.000000, 137.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -30.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 60.000000}, {99.000000, 137.000000}}</string>
			<key>sourceSize</key>
			<string>{99.000000, 197.000000}</string>
			<key>uuid</key>
			<string>2FA34B3D-F855-48B2-930E-0E149D9FCD38</string>
		</dict>
		<key>mondo5_rovine0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 0.000000}, {242.000000, 470.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {470.000000, 242.000000}}</string>
			<key>sourceSize</key>
			<string>{242.000000, 470.000000}</string>
			<key>uuid</key>
			<string>9A2EA139-2797-45D2-876C-2154D056B36F</string>
		</dict>
		<key>mondo5_rovine0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 675.000000}, {253.000000, 200.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {253.000000, 200.000000}}</string>
			<key>sourceSize</key>
			<string>{253.000000, 200.000000}</string>
			<key>uuid</key>
			<string>E3268DFF-1921-4ED4-AC7C-E8F26DFE740C</string>
		</dict>
		<key>mondo5_rovine0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{253.000000, 754.000000}, {132.000000, 200.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {200.000000, 132.000000}}</string>
			<key>sourceSize</key>
			<string>{132.000000, 200.000000}</string>
			<key>uuid</key>
			<string>DA8D6F17-C825-47E5-A7A3-2D4B427909A3</string>
		</dict>
		<key>mondo5_rovine0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{0.000000, 475.000000}, {257.000000, 200.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {257.000000, 200.000000}}</string>
			<key>sourceSize</key>
			<string>{257.000000, 200.000000}</string>
			<key>uuid</key>
			<string>1DE814F5-56BB-4425-82CB-647D486CE499</string>
		</dict>
		<key>mondo5_rovine0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{346.000000, 460.000000}, {155.000000, 460.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {460.000000, 155.000000}}</string>
			<key>sourceSize</key>
			<string>{155.000000, 460.000000}</string>
			<key>uuid</key>
			<string>FD9CC96E-6882-447D-8076-E865C5EE4467</string>
		</dict>
		<key>mondo5_rovine0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{470.000000, 0.000000}, {244.000000, 460.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {244.000000, 460.000000}}</string>
			<key>sourceSize</key>
			<string>{244.000000, 460.000000}</string>
			<key>uuid</key>
			<string>981BEA5C-DFE2-43A0-849F-FDB47868A5F5</string>
		</dict>
		<key>mondo5_rovine0009.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{257.000000, 615.000000}, {139.000000, 460.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {460.000000, 139.000000}}</string>
			<key>sourceSize</key>
			<string>{139.000000, 460.000000}</string>
			<key>uuid</key>
			<string>1F3465B1-7B90-417A-BE83-72034B667077</string>
		</dict>
		<key>mondo5_rovine0010.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{714.000000, 0.000000}, {107.000000, 202.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 0.000000}, {107.000000, 202.000000}}</string>
			<key>sourceSize</key>
			<string>{107.000000, 202.000000}</string>
			<key>uuid</key>
			<string>53995C31-8BE3-4CB4-BCFD-4A097C7A5322</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{820.000000, 886.000000}</string>
		<key>textureFileName</key>
		<string>w5_rovine.png</string>
	</dict>
</dict>
</plist>
