<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>cinghiale-loop_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 161.000000}, {57.000000, 48.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {48.000000, 57.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>480F3BA6-3CE4-49C1-9BDE-40955DA34F79</string>
		</dict>
		<key>cinghiale-loop_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{61.000000, 107.000000}, {57.000000, 48.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {48.000000, 57.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>E41A651B-15CC-4ACF-A93B-D1F195639362</string>
		</dict>
		<key>cinghiale-loop_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{356.000000, 56.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {54.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>173C7D14-EFBA-44F6-B011-1A517B715A2C</string>
		</dict>
		<key>cinghiale-loop_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{327.000000, 110.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {50.000000, 54.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>2ADE31E5-6205-4A9D-BB3B-A536E99859DA</string>
		</dict>
		<key>cinghiale-loop_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{3.000000, 107.000000}, {56.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {56.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>66789DD2-5321-4AFC-9ECA-46F6EB4511F5</string>
		</dict>
		<key>cinghiale-loop_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{122.000000, 56.000000}, {56.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {56.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>76745583-3723-43AD-85DD-56E167C7EC7C</string>
		</dict>
		<key>cinghiale-loop_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{368.000000, 2.000000}, {56.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {56.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>9566DF62-943C-4FD2-90EC-1C1C903A9497</string>
		</dict>
		<key>cinghiale-loop_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{288.000000, 167.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {54.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>A45BB912-2DA9-40BA-94A5-AFE0E51F7215</string>
		</dict>
		<key>cinghiale-loop_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{267.000000, 222.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {50.000000, 54.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>1B4D5066-77FA-4A5A-8CE3-8BA4D1A8DB51</string>
		</dict>
		<key>cinghiale-loop_0009.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{216.000000, 338.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {50.000000, 54.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>97B9CC1B-6257-432A-8FC2-5D2309772ACB</string>
		</dict>
		<key>cinghiale-loop_0010.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{308.000000, 2.000000}, {56.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {56.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>E0C58D3B-4DE8-4B28-A9C3-0A5B03ED2CCC</string>
		</dict>
		<key>cinghiale-loop_0011.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{249.000000, 2.000000}, {56.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {56.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>E80EB471-7773-4211-BDED-26330C8C0E68</string>
		</dict>
		<key>cinghiale-loop_0012.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{189.000000, 2.000000}, {56.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {56.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>D0DFDFAA-CF07-46E9-9868-DC6463223E82</string>
		</dict>
		<key>cinghiale-loop_0013.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{62.000000, 53.000000}, {56.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {56.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>3DE7F06D-FFBF-491D-A88E-4FA6069B767A</string>
		</dict>
		<key>cinghiale-loop_0014.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{3.000000, 53.000000}, {56.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {56.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>A8F1ED4B-50A9-4450-BEA2-2FF90F026704</string>
		</dict>
		<key>cinghiale-loop_0015.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{130.000000, 2.000000}, {56.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {56.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>11425495-E117-45A5-8121-F4074EA3906F</string>
		</dict>
		<key>cinghiale-loop_0016.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{214.000000, 280.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {50.000000, 54.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>DE14DCAA-B442-4E9B-B940-5D1A06107C76</string>
		</dict>
		<key>cinghiale-loop_0017.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{298.000000, 56.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {54.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>51145D69-8E61-4EEE-9DCA-E17C86BBB640</string>
		</dict>
		<key>cinghiale-loop_0018.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{274.000000, 110.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {50.000000, 54.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>9A20C46B-144F-4189-9D64-C17C7AF37631</string>
		</dict>
		<key>cinghiale-loop_0019.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{230.000000, 168.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 0.000000}, {54.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>9EEE7E10-4652-4B24-A3D4-E2DC005C1128</string>
		</dict>
		<key>cinghiale-loop_0020.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{214.000000, 222.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {50.000000, 54.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>7FC09812-5538-4669-8118-96483B3DC6A8</string>
		</dict>
		<key>cinghiale-loop_0021.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{162.000000, 339.000000}, {54.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-2.000000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {50.000000, 54.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>004B61E4-4AC3-4C16-9F04-D7B3D1659225</string>
		</dict>
		<key>cinghiale-state1_0000.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{346.000000, 168.000000}, {55.000000, 49.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 1.000000}, {55.000000, 49.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>C9ABC9D6-AA50-4CA3-AB2E-CB005A1EFB0B</string>
		</dict>
		<key>cinghiale-state1_0001.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{321.000000, 221.000000}, {55.000000, 49.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {49.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>37BACA67-08AD-4032-A50E-4B90496CE454</string>
		</dict>
		<key>cinghiale-state1_0002.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{268.000000, 280.000000}, {55.000000, 49.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 1.000000}, {55.000000, 49.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>52FDD297-00CC-4B2C-B99C-254D764213E6</string>
		</dict>
		<key>cinghiale-state1_0003.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{160.000000, 280.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>2B566C75-0238-4BE8-8A16-55B4C6244B7C</string>
		</dict>
		<key>cinghiale-state1_0004.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{240.000000, 56.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 1.000000}, {55.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>B405B242-85A4-4EA2-9D30-D24DE7DC543F</string>
		</dict>
		<key>cinghiale-state1_0005.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{220.000000, 110.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>B9183676-CA54-478F-9493-4AC83D585D9C</string>
		</dict>
		<key>cinghiale-state1_0006.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{172.000000, 168.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 1.000000}, {55.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>FFBF3802-F926-4DF6-8245-75EC4607186E</string>
		</dict>
		<key>cinghiale-state1_0007.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{160.000000, 222.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>63824173-9980-457E-8AE3-8829CEC07534</string>
		</dict>
		<key>cinghiale-state1_0008.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{108.000000, 339.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>1B5D4B5A-8660-4DC7-8488-8F1CCAE15F6A</string>
		</dict>
		<key>cinghiale-state1_0009.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{106.000000, 280.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>DD3CC0F9-A33C-4119-9EC5-BFEDC0FCC920</string>
		</dict>
		<key>cinghiale-state1_0010.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{181.000000, 56.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 1.000000}, {55.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>6F6B895F-BC37-4D91-A33D-58DB4F612590</string>
		</dict>
		<key>cinghiale-state1_0011.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{166.000000, 110.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>A7D62300-2A15-4589-8C77-ECD0A2023DC2</string>
		</dict>
		<key>cinghiale-state1_0012.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{113.000000, 110.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>D011F331-26D6-4AB5-8907-58612A9A380C</string>
		</dict>
		<key>cinghiale-state1_0013.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{113.000000, 168.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 1.000000}, {55.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>A1A7B245-FC93-4702-AFAB-BD6D36777F9E</string>
		</dict>
		<key>cinghiale-state1_0014.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{106.000000, 222.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>E28CFCFC-936F-4C22-8CA7-E69B08935057</string>
		</dict>
		<key>cinghiale-state1_0015.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{55.000000, 339.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>4D011020-5BA5-454A-8F67-4BC0C42434AF</string>
		</dict>
		<key>cinghiale-state1_0016.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{53.000000, 280.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>B6B64C3F-BBAB-4035-9513-CCB8C06839F3</string>
		</dict>
		<key>cinghiale-state1_0017.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{55.000000, 168.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1.000000, 1.000000}, {55.000000, 50.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>E0ABC3DC-0547-4694-BE45-80AEB61A6DEC</string>
		</dict>
		<key>cinghiale-state1_0018.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{53.000000, 222.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>1A76AEC8-D567-4711-A040-48A46FD7F35A</string>
		</dict>
		<key>cinghiale-state1_0019.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 344.000000}, {55.000000, 50.000000}}</string>
			<key>offset</key>
			<string>{-1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{-1.000000, 1.000000}, {50.000000, 55.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>96FE421D-B213-4425-8B10-0D0DBFCD0BFE</string>
		</dict>
		<key>cinghiale-state1_0020.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 283.000000}, {57.000000, 48.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {48.000000, 57.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>FA1817F5-DEAB-4113-AE6B-CEE9079B887A</string>
		</dict>
		<key>cinghiale-state1_0021.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 222.000000}, {57.000000, 48.000000}}</string>
			<key>offset</key>
			<string>{-0.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 1.000000}, {48.000000, 57.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>0D2B8F56-6C91-4319-B956-794B29A92551</string>
		</dict>
		<key>cinghiale-state1_0022.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{66.000000, 2.000000}, {60.000000, 47.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 3.000000}, {60.000000, 47.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>C63108C9-4721-413A-8211-7267CB23D4DC</string>
		</dict>
		<key>cinghiale-state1_0023.png</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 2.000000}, {60.000000, 47.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0.000000, 3.000000}, {60.000000, 47.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 50.000000}</string>
			<key>uuid</key>
			<string>F2558910-FC33-4C7A-8C2C-468D16572083</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{424.000000, 399.000000}</string>
		<key>textureFileName</key>
		<string>Wildboar_spritesheet.png</string>
	</dict>
</dict>
</plist>
