<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>w5_videoStory/w5_sc06/adearmsc6_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,374},{287,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,278}</string>
			</dict>
			<key>w5_videoStory/w5_sc06/adearmsc6_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,656},{287,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,278}</string>
			</dict>
			<key>w5_videoStory/w5_sc06/adearmsc6_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,428},{287,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,278}</string>
			</dict>
			<key>w5_videoStory/w5_sc06/adearmsc6_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,656},{287,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{287,278}</string>
			</dict>
			<key>w5_videoStory/w5_sc06/adearmsc6_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,710},{287,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,278}</string>
			</dict>
			<key>w5_videoStory/w5_sc06/adebodysc06.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,2},{238,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,368}</string>
			</dict>
			<key>w5_videoStory/w5_sc06/bgsc06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{660,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,422}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>w5_sc06_ss01.png</string>
			<key>realTextureFileName</key>
			<string>w5_sc06_ss01.png</string>
			<key>size</key>
			<string>{955,990}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>955</integer>
			<key>height</key>
			<integer>990</integer>
		</dict>
	</dict>
</plist>